---
import DefaultLayout from '../layouts/layout.astro';


---
<title>Contact - Cloud Hawk</title>
<DefaultLayout>
	<section class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs-list">
				<!-- Breadcrumb NavXT 7.3.1 -->
<li class="breadcrumbs-item"><span itemprop="itemListElement"><a class="breadcrumbs-link" property="item" typeof="WebPage" title="CloudHawk" href="/contact"><meta property="position" content="2"></span></li>			</ul>
		</div>
	</section>
    <section class="contact-us" data-header="header-black" id="contact_us">
		<div class="contact-us-container">
			<div class="container">
				<div class="contact-us-wrapper">
					<div class="contact-us-form-wrapper">
						<div class="contact-us-form-container">
							<h3 class="contact-us-form-title">
								Collaborate with Cloud Hawk </h3>

							<div class="wpcf7 no-js" id="wpcf7-f228-p216-o1" lang="en-US" dir="ltr">
								<div class="screen-reader-response">
									<p role="status" aria-live="polite" aria-atomic="true"></p>
									<ul></ul>
								</div>

									<form id="contact-form" onsubmit="handleSubmit(); return false;" 
									class="wpcf7-form init wpcf7-acceptance-as-validation" aria-label="Contact form" enctype="multipart/form-data" novalidate="novalidate" data-status="init">
				   
									<div style="display: none;">
										<input type="hidden" name="_wpcf7" value="228">
										<input type="hidden" name="_wpcf7_version" value="5.9.8">
										<input type="hidden" name="_wpcf7_locale" value="en_US">
										<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f228-p216-o1">
										<input type="hidden" name="_wpcf7_container_post" value="216">
										<input type="hidden" name="_wpcf7_posted_data_hash" value="">
										<input type="hidden" name="_wpcf7_recaptcha_response" value="">
									</div>
									<div class="contact-form-info-wrapper">
										<div class="contact-form-input-wrapper js-input"><span
												class="wpcf7-form-control-wrap" data-name="fullName"><input
													size="40" maxlength="1000"
													class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text"
													aria-required="true" aria-invalid="false"
													placeholder="Full name" value="" type="text"
													name="fullName"></span><label for="fullName">Full name<b
													style="color:#FF6300">*</b></label></div>
										<div class="contact-form-input-wrapper js-input"><span
												class="wpcf7-form-control-wrap" data-name="your-email"><input
													size="40" maxlength="100"
													class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email input-text"
													aria-required="true" aria-invalid="false"
													placeholder="Email address" value="" type="email"
													name="your-email"></span><label for="your-email">Email
												address<b style="color:#FF6300">*</b></label></div>
										<div class="contact-form-input-wrapper js-input"><span
												class="wpcf7-form-control-wrap" data-name="orgName"><input
													size="40" maxlength="1000"
													class="wpcf7-form-control wpcf7-text input-text"
													aria-invalid="false" placeholder="Company name" value=""
													type="text" name="orgName"></span><label
												for="orgName">Company name</label></div>
										<div class="contact-form-input-wrapper js-input"><span
												class="wpcf7-form-control-wrap" data-name="your-phone"><input
													size="40" maxlength="400"
													class="wpcf7-form-control wpcf7-tel wpcf7-text wpcf7-validates-as-tel input-text"
													aria-invalid="false" placeholder="Phone number" value=""
													type="tel" name="your-phone"></span><label
												for="your-phone">Phone number</label></div>
									</div>
									<div class="contact-form-text-area-wrapper js-input">
										<div><span class="wpcf7-form-control-wrap" data-name="details"><input
													size="40" maxlength="1000"
													class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text"
													aria-required="true" aria-invalid="false"
													placeholder="About your project" value="" type="text"
													name="details"></span><label for="details"> About your
												project <b style="color:#FF6300">*</b></label></div>
									</div>
									<div class="contact-form-file-wrapper">
										<label for="wpcf7-file">Attach a file</label>
										<p class="contact-form-file-text">Please upload a file with one of the
											following extensions: .pdf, .docx, .odt, .ods, .ppt/x, .xls/x, .rtf,
											.txt</p>
										<div class="contact-form-file-info-wrapper">
											<p class="contact-form-file-info-wrapper-title">Name_of_file.pdf</p>
											<p class="contact-form-file-info-wrapper-weight">10.53 MB</p> <span
												class="contact-form-file-info-wrapper-button-close"></span>
										</div>
										<span class="wpcf7-form-control-wrap" data-name="attach-file"><input
												size="40" class="wpcf7-form-control wpcf7-file"
												accept=".pdf,.docx,.odt,.ods,.ppt,.pptx,.xls,.xlsx,.rtf,.txt"
												aria-invalid="false" type="file" name="attach-file"></span>
									</div>
									<div class="contact-form-checkbox-wrapper">
										<div class="contact-form-acceptance-container">
											<span class="wpcf7-form-control-wrap"
												data-name="privacyPolicyAccepted"><span
													class="wpcf7-form-control wpcf7-acceptance"><span
														class="wpcf7-list-item"><label><input type="checkbox"
																name="privacyPolicyAccepted" value="1"
																aria-invalid="false"><span
																class="wpcf7-list-item-label"><span
																	class="contact-form-acceptance-label">I have
																	read <a href="/privacy-notice/"
																		target="_blank">Privacy Notice</a><b
																		style="color:#FF6300">*</b></span></span></label></span></span></span>
										</div>
									</div>
									<div class="contact-form-additional-privacy-container checkbox-js"><span
											class="wpcf7-form-control-wrap" data-name="receiveEmails"><span
												class="wpcf7-form-control wpcf7-checkbox"><span
													class="wpcf7-list-item first last"><label><input
															type="checkbox" name="receiveEmails[]"
															value="I agree to receive marketing materials about news, events, and proposals from Cloud Hawk"><span
															class="wpcf7-list-item-label">I agree to receive
															marketing materials about news, events, and
															proposals from
															Cloud Hawk</span></label></span></span></span></div>
									<div class="contact-form-recaptcha-container">
										<span class="wpcf7-form-control-wrap recaptcha"
											data-name="recaptcha"><span
												data-sitekey="6LcO6mAnAAAAADWhPb8a_RyRt_AHuYgoX6iCpgIP"
												class="wpcf7-form-control wpcf7-recaptcha g-recaptcha"></span>
											<noscript>
												<div class="grecaptcha-noscript">
													<iframe loading="lazy"
														src="https://www.google.com/recaptcha/api/fallback?k=6LcO6mAnAAAAADWhPb8a_RyRt_AHuYgoX6iCpgIP"
														frameborder="0" scrolling="no" width="310" height="430">
													</iframe>
													<textarea name="g-recaptcha-response" rows="3" cols="40"
														placeholder="reCaptcha Response Here">
</textarea>
												</div>
											</noscript>
										</span>
									</div>
									<input class="wpcf7-form-control wpcf7-hidden path-history" value=""
										type="hidden" name="path-history">
									<input
										class="wpcf7-form-control wpcf7-submit has-spinner contact-form-button"
										type="submit" value="Send message">
									<div class="wpcf7-response-output" aria-hidden="true"></div>
									
								 
								</form>
							</div>
						</div>
						<div class="contact-us-thanks">
							<img loading="lazy" decoding="async" src="images/success.svg" alt="success"
								width="110" height="110">
							<p class="contact-us-thanks-title">
								got it! </p>
							<p class="contact-us-thanks-text">
								Keep an eye on your inbox. We’ll be in touch shortly<br>
								Meanwhile, you can explore our hottest case studies and read<br>
								client feedback on Clutch. </p>
							<a href="https://clutch.co/profile/Cloud Hawk#reviews"
								class="contact-us-thanks-button" target="_blank">
								See Cloud Hawk reviews </a>
						</div>
						<div class="contact-us-error">
							<img loading="lazy" decoding="async" src="images/error.svg" alt="error" width="110"
								height="110">
							<p class="contact-us-error-title">opps!</p>
							<p class="contact-us-error-text">
								Oops, the form hasn’t been submitted. Please, try again
							</p>
							<a href="#" class="contact-us-error-button">Retry</a>
						</div>
					</div>

					<div class="contact-us-info-wrapper">
						<div class="contact-us-info-brief-wrapper">
							<p class="contact-us-info-brief-title">Cloud Hawk in brief</p>
							<ul class="contact-us-info-brief-list">
								<li class="contact-us-info-brief-item">
									<span class="contact-us-info-brief-item-title">6+ </span>
									<p class="contact-us-info-brief-item-text">
										years of experience </p>
								</li>
								<li class="contact-us-info-brief-item">
									<span class="contact-us-info-brief-item-title">500+</span>
									<p class="contact-us-info-brief-item-text">
										IT experts aboard </p>
								</li>
								<li class="contact-us-info-brief-item">
									<span class="contact-us-info-brief-item-title">35+</span>
									<p class="contact-us-info-brief-item-text">
										active clients </p>
								</li>
							</ul>
							<ul class="contact-us-info-brief-logo-list">
								<li class="contact-us-info-brief-logo-item logo-grayscale">
									<figure>
										<img loading="lazy" decoding="async" width="141" height="60"
											src="images/kpmg.svg" class="attachment-full size-full" alt="">
									</figure>
								</li>
								<li class="contact-us-info-brief-logo-item logo-grayscale">
									<figure>
										<img loading="lazy" decoding="async" width="200" height="50"
											src="images/bosch.svg" class="attachment-full size-full" alt="">
									</figure>
								</li>
								<li class="contact-us-info-brief-logo-item logo-grayscale">
									<figure>
										<img loading="lazy" decoding="async" width="280" height="60"
											src="images/toyota.svg" class="attachment-full size-full" alt="">
									</figure>
								</li>
							</ul>
						</div>
						<div class="contact-us-info-content allow-copy">
							<ul class="contact-us-info-content-list">
								<li class="contact-us-info-content-item">
									<p class="contact-us-info-content-item-title">
										Project inquiries </p>
									<div class="contact-us-info-content-item-link-wrapper">
										<a class="contact-us-info-content-item-link email-text-for-copy"
											href="mailto:hello@Cloud Hawk.com">info@cloudhawktech.com </a>
										<div class="contact-us-info-content-item-link-copy">
											<button class="email-text-copy-btn"></button>
											<span class="email-copy-message">Copied</span>
										</div>
									</div>
								</li>
								<li class="contact-us-info-content-item">
									<p class="contact-us-info-content-item-title">
										Careers </p>
									<div class="contact-us-info-content-item-link-wrapper">
										<a class="contact-us-info-content-item-link email-text-for-copy"
											href="mailto:careers@Cloud Hawk.com">careers@cloudhawktech.com </a>
										<div class="contact-us-info-content-item-link-copy">
											<button class="email-text-copy-btn"></button>
											<span class="email-copy-message">Copied</span>
										</div>
									</div>
								</li>
								<li class="contact-us-info-content-item">
									<p class="contact-us-info-content-item-title">
										Phone number </p>
									<a class="contact-us-info-content-item-link" href="tel:+44 788 4809964">+44 788 4809964</a>
								</li>
							</ul>
							<div class="contact-us-info-content-offices-wrapper">
								<p class="contact-us-info-content-offices-title">
									Our offices </p>
								<ul class="contact-us-info-content-offices-list">
									<li class="contact-us-info-content-offices-item">
										<div class="contact-us-info-content-offices-item-title-wrapper">
											<img loading="lazy" decoding="async" width="24" height="16"
												src="images/UAE.webp" class="attachment-full size-full"
												alt="">
											<p class="contact-us-info-content-offices-item-title">
												UAE</p>
										</div>
										<div class="contact-us-info-content-offices-item-text">
											<div class="contact-us-info-content-offices-item-text-title">
												Al.khaleej building Deira Dubai </div>
										</div>
									</li>
									<li class="contact-us-info-content-offices-item">
										<div class="contact-us-info-content-offices-item-title-wrapper">
											<img loading="lazy" decoding="async" width="24" height="16"
												src="images/UK.webp" class="attachment-full size-full"
												alt="">
											<p class="contact-us-info-content-offices-item-title">
												UK </p>
										</div>
										<div class="contact-us-info-content-offices-item-text">
											<div class="contact-us-info-content-offices-item-text-title">
												SO140DB Southampton, United Kingdom </div>
										</div>
									</li>
								
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</DefaultLayout>