---
import DefaultLayout from '../layouts/layout.astro';


---
<title>Software solution for energy consumption monitoring</title>

<DefaultLayout>
    <section class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs-list">
				<!-- Breadcrumb NavXT 7.3.1 -->
<li class="breadcrumbs-item"><span itemprop="itemListElement"><a class="breadcrumbs-link" property="item" typeof="WebPage" title="Cloud Hawk" href="https://cloudhawktech.com"><span property="name">Cloud Hawk</span></a><meta property="position" content="1"></span></li><li class="breadcrumbs-item"><span itemprop="itemListElement"><a class="breadcrumbs-link" property="item" typeof="WebPage" title="Works" href="https://cloudhawktech.com/works/"><span property="name">Works</span></a><meta property="position" content="2"></span></li><li class="breadcrumbs-item post post-works current-item"><span itemprop="itemListElement"><span property="name" itemprop="itemListElement"> Stromee</span><meta property="url" content="https://cloudhawktech.com/works/conscious-energy-consumption/"><meta property="position" content="3"></span></li>			</ul>
		</div>
	</section>
	<section class="works-single-first-screen" data-header="header-transparent-white" id="">
		<div class="container">
			<div class="works-single-first-screen-container">
				<div class="works-single-first-screen-title-container">
											<h1 class="works-single-first-screen-title">
							Energy <span>consumption management system</span>						</h1>
																<p class="works-single-first-screen-text">
							Discover how we created a GDPR-compliant software solution for keeping consumers informed of their power demand and educating them on smart energy consumption. <br>
						</p>
									</div>
									<div class="works-single-first-screen-benefits">
						<ul class="works-single-first-screen-benefits-list">
															<li class="works-single-first-screen-benefits-item">
									<p class="works-single-first-screen-benefits-item-title">
										Industry									</p>
									<p class="works-single-first-screen-benefits-item-text">
										Renewable energy									</p>
								</li>
															<li class="works-single-first-screen-benefits-item">
									<p class="works-single-first-screen-benefits-item-title">
										Country									</p>
									<p class="works-single-first-screen-benefits-item-text">
										 Germany									</p>
								</li>
															<li class="works-single-first-screen-benefits-item">
									<p class="works-single-first-screen-benefits-item-title">
										Team size									</p>
									<p class="works-single-first-screen-benefits-item-text">
										10+									</p>
								</li>
															<li class="works-single-first-screen-benefits-item">
									<p class="works-single-first-screen-benefits-item-title">
										Collaboration									</p>
									<p class="works-single-first-screen-benefits-item-text">
										May 2020 – July 2021									</p>
								</li>
													</ul>
					</div>
										</div>
	</div></section>


    <section data-header="header-white" class="works-single-about" id="">
        <div class="container">
            <div class="works-single-about-container">
                <div class="works-single-about-container-text">
                                            <h2 class="works-single-about-title">
                            About the client<br>
                        </h2>
                                                                <div class="works-single-about-text">
                            <p><span style="font-weight: 400;">In 2020, the Germany-based company Homee GmbH launched a renewable energy business unit called </span><i><span style="font-weight: 400;">stromee</span></i><span style="font-weight: 400;"> to provide consumers with renewable energy services.</span></p>
                        </div>
                    
                </div>
                <div class="works-single-about-container-image-background" style="background-color: #bac0dc">
                    <figure>
                        <img fetchpriority="high" decoding="async" width="400" height="206" src="images/stromee-1.webp" class="attachment-full size-full" alt="" srcset="images/stromee-1.webp 400w, images/stromee-1-300x155.webp 300w, images/stromee-1-336x173.webp 336w, images/stromee-1-288x148.webp 288w, images/stromee-1-368x190.webp 368w, images/stromee-1-328x169.webp 328w, images/stromee-1-120x62.webp 120w, images/stromee-1-260x134.webp 260w, images/stromee-1-177x91.webp 177w, images/stromee-1-20x10.webp 20w, images/stromee-1-100x52.webp 100w" sizes="(max-width: 400px) 100vw, 400px">                    </figure>
                </div>
            </div>
                    </div>
    </section>




    <section class="works-single-text-block" data-header="header-white" id="">
        <div class="container">
            <div class="works-single-text-block-container">
                <div class="works-single-text-block-wrapper">
                    <div class="works-single-text-block-left-container">
                                                    <h2 class="works-single-text-block-title">
                                <span>Business</span> context                            </h2>
                                            </div>
                                            <div class="works-single-text-block-right-container text-editor-styles">
                            <p><span style="font-weight: 400;">The client’s priority was creating mobile and web applications for stromee that would encourage people to monitor their energy consumption and contribute to economical electricity use. The goal was to present a product that would:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">stand out among multiple electricity providers with its unique benefits </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">demonstrate the capacity for contributing to conscious energy consumption</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">quickly claim market share </span></li>
</ul>
                        </div>
                                    </div>
            </div>
        </div>
    </section>


	<section class="works-single-solution" data-header="header-white" id="">
		<div class="container">
			<div class="works-single-solution-dots-wrapper">
				<div class="works-single-solution-dots-1"></div>
				<div class="works-single-solution-dots-2"></div>
				<div class="works-single-solution-dots-3"></div>
				<div class="works-single-solution-dots-4"></div>
			</div>
			<div class="works-single-solution-wrapper">
							<div class="works-single-solution-title-container">
					<h2 class="works-single-solution-title">
						<span>Solution</span> overview					</h2>
				</div>
										<ul class="works-single-solution-list">
											<li class="works-single-solution-item">
							<div class="works-single-solution-item-text text-editor-styles">
								<p><span style="font-weight: 400;">Cloud Hawk helped the client provide their customers with easy and secure electricity consumption management by:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">creating feature-rich web and mobile applications</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">ensuring compliance with GDPR requirements</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">designing a simplified and engaging UI/UX</span></li>
</ul>
							</div>
						</li>
											<li class="works-single-solution-item">
							<div class="works-single-solution-item-text text-editor-styles">
								<h3>Designing a streamlined UI/UX</h3>
<p><span style="font-weight: 400;">Our client’s goal was to create a convenient, engaging, and useful space for their end users. To help our client achieve this goal, the Cloud Hawk team:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">reflected the unique brand and spirit of stromee by designing attractive applications with neutral and appealing colors and hand-drawn illustrations </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">maximized simplicity of use and ensured intuitive navigation by applying UX best practices when developing a mobile application with essential functionality</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">visualized users’ consumption tendencies and made monitoring of power demand engaging by implementing animated elements, charts, and tables</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">educated consumers on conscious energy consumption by creating an educational hub available on web and mobile </span></li>
</ul>
<p> </p>
							</div>
						</li>
											<li class="works-single-solution-item">
							<div class="works-single-solution-item-text text-editor-styles">
								<h3>Developing a web application for user onboarding</h3>
<p><span style="font-weight: 400;">The client decided to launch a web application to spread awareness and onboard customers. The solution provides the following: </span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><b>Consumption calculator</b><span style="font-weight: 400;"> so users can calculate their tariffs by entering basic information </span></li>
<li style="font-weight: 400;" aria-level="1"><b>Contract creation </b><span style="font-weight: 400;">with a fast and seamless flow to quickly create a contract with stromee using only basic personal data and past invoices</span></li>
</ul>
<p> </p>
							</div>
						</li>
											<li class="works-single-solution-item">
							<div class="works-single-solution-item-text text-editor-styles">
								<h3>Building a mobile application</h3>
<p><span style="font-weight: 400;">At the client’s request, we came up with the following set of features for the mobile app:</span></p>
<ul>
<li aria-level="1"><b>Monthly and yearly consumption forecasts</b><span style="font-weight: 400;"> with interactive and dynamic charts help users see their current and potential energy use and analyze energy consumption.</span></li>
</ul>
<ul>
<li aria-level="1"><b>Contract creation. </b><span style="font-weight: 400;">Consumers can follow a four-step process of creating a contract with stromee to provide details on their consumption trends, or they can follow a simpler flow introduced for the web version.</span></li>
</ul>
<ul>
<li aria-level="1"><b>Contract management.</b><span style="font-weight: 400;"> Users can see their contract details, including all previously entered meter readings along with tariff and billing details, and can track the status of their contract.</span></li>
<li aria-level="1"><b>Management of multiple contracts.</b><span style="font-weight: 400;"> People who own several apartments or houses can manage all their contracts under one account.  </span></li>
<li aria-level="1"><b>Meter readings.</b><span style="font-weight: 400;"> The application contains a history of meter readings entered by the account owner and by inspectors. Data is synchronized with and stored in the PowerCloud system. </span></li>
</ul>
<ul>
<li aria-level="1"><b>Promo codes. </b><span style="font-weight: 400;">The client frequently holds special events with promo codes. Users can enter them when creating a contract to get a discount. </span></li>
</ul>
<ul>
<li aria-level="1"><b>Live chat support. </b><span style="font-weight: 400;">We integrated with FreshChat for users to be able to ask for help and quickly get answers to their questions. </span></li>
</ul>
<p> </p>
							</div>
						</li>
											<li class="works-single-solution-item">
							<div class="works-single-solution-item-text text-editor-styles">
								<h3>Ensuring GDPR compliance</h3>
<p><span style="font-weight: 400;">We made sure to inform users of each piece of personal data the system uses and when, indicating the length of time for which the data will be kept and assuring its full confidentiality and protection. During product development, the Cloud Hawk team did not have any access to users’ personal data.</span></p>
							</div>
						</li>
									</ul>
					</div>
		</div>
	</section>


    <section class="works-single-value" data-header="header-white" id="">
        <div class="container">
            <div class="works-single-value-container">
                <div class="works-single-value-title-container">
                                            <h2 class="works-single-value-title">
                            <span>Value </span>delivered                        </h2>
                                    </div>
                <div class="works-single-value-content-container">
                                        <div class="works-single-value-item-container">
                                                    <div class="works-single-value-item-now">
                            <p class="works-single-value-item-title">
                                Together with our client, we achieved the following results:                             </p>
                                                            <ul class="works-single-value-item-list">
                                                                            <li class="works-single-value-list-item">
                                            <p class="works-single-value-list-item-title">
                                                Delivered web and mobile applications for power consumption monitoring, forecasting, and management                                            </p>
                                        </li>
                                                                            <li class="works-single-value-list-item">
                                            <p class="works-single-value-list-item-title">
                                                Achieved the client’s initial goal of user acquisition far before the project deadline thanks to our coordinated work                                            </p>
                                        </li>
                                                                            <li class="works-single-value-list-item">
                                            <p class="works-single-value-list-item-title">
                                                Met strict deadlines by delivering both applications in a series of regular releases                                            </p>
                                        </li>
                                                                            <li class="works-single-value-list-item">
                                            <p class="works-single-value-list-item-title">
                                                Introduced efficient new project management practices that our client adopted                                             </p>
                                        </li>
                                                                    </ul>
                                                    </div>
                        </div>
                </div>
            </div>
        </div>
    </section>


	<section class="cta-orange-bg-full-width" data-header="header-white" id="">
		<div class="cta-orange-bg-full-width-container">
			<div class="">
									<h3 class="cta-orange-bg-full-width-title">
						Looking for software engineers to build an engaging software solution?					</h3>
													<p class="cta-orange-bg-full-width-text">
						Yalanis will help you design a user-friendly application with top-notch functionality and adherence to industry requirements.<br>
					</p>
							</div>
							<a class="cta-orange-bg-full-width-link" href="/contacts/">
					Book a consultation				</a>
					</div>
	</section>


	<section class="works-single-projects" data-header="header-black" id="">
		<div class="works-single-projects-container">
			<div class="container">
									<div class="works-single-projects-title-container">
						<h2 class="works-single-projects-title">
							More projects 						</h2>
					</div>
													<div class="works-single-projects-list-container">
						<ul class="works-single-projects-list">
															<li class="works-single-projects-item">
									<a class="works-single-projects-item-link" href="https://cloudhawktech.com/works/cybersecurity-ecosystem/">
										<div class="works-single-projects-item-image-container">
											<img decoding="async" width="328" height="266" src="images/automated-cybersecurity-ecosystem.png" class="attachment-cases3_block size-cases3_block" alt="" srcset="images/automated-cybersecurity-ecosystem.png 328w, images/automated-cybersecurity-ecosystem-300x243.png 300w, images/automated-cybersecurity-ecosystem-256x208.png 256w, images/automated-cybersecurity-ecosystem-247x200.png 247w, images/automated-cybersecurity-ecosystem-111x90.png 111w, images/automated-cybersecurity-ecosystem-308x250.png 308w, images/automated-cybersecurity-ecosystem-260x211.png 260w, images/automated-cybersecurity-ecosystem-123x100.png 123w, images/automated-cybersecurity-ecosystem-20x16.png 20w, images/automated-cybersecurity-ecosystem-100x81.png 100w" sizes="(max-width: 328px) 100vw, 328px">										</div>
										<h3 class="works-single-projects-item-title">
											Automated cybersecurity ecosystem										</h3>
										<p class="works-single-projects-item-text">
											A solution for automatically detecting software vulnerabilities<br>
										</p>
									</a>
								</li>
															<li class="works-single-projects-item">
									<a class="works-single-projects-item-link" href="https://cloudhawktech.com/works/digital-banking-application/">
										<div class="works-single-projects-item-image-container">
											<img decoding="async" width="328" height="266" src="images/increasing-user-engagement-for-a-digital-banking-application.png" class="attachment-cases3_block size-cases3_block" alt="" srcset="images/increasing-user-engagement-for-a-digital-banking-application.png 328w, images/increasing-user-engagement-for-a-digital-banking-application-300x243.png 300w, images/increasing-user-engagement-for-a-digital-banking-application-256x208.png 256w, images/increasing-user-engagement-for-a-digital-banking-application-247x200.png 247w, images/increasing-user-engagement-for-a-digital-banking-application-111x90.png 111w, images/increasing-user-engagement-for-a-digital-banking-application-308x250.png 308w, images/increasing-user-engagement-for-a-digital-banking-application-260x211.png 260w, images/increasing-user-engagement-for-a-digital-banking-application-123x100.png 123w, images/increasing-user-engagement-for-a-digital-banking-application-20x16.png 20w, images/increasing-user-engagement-for-a-digital-banking-application-100x81.png 100w" sizes="(max-width: 328px) 100vw, 328px">										</div>
										<h3 class="works-single-projects-item-title">
											Digital banking application optimization										</h3>
										<p class="works-single-projects-item-text">
											Increasing user engagement by improving the app’s UI/UX and implementing BI<br>
										</p>
									</a>
								</li>
															<li class="works-single-projects-item">
									<a class="works-single-projects-item-link" href="https://cloudhawktech.com/works/truhoo/">
										<div class="works-single-projects-item-image-container">
											<img decoding="async" width="328" height="266" src="images/truhoo.png" class="attachment-cases3_block size-cases3_block" alt="" srcset="images/truhoo.png 328w, images/truhoo-300x243.png 300w, images/truhoo-256x208.png 256w, images/truhoo-247x200.png 247w, images/truhoo-111x90.png 111w, images/truhoo-308x250.png 308w, images/truhoo-260x211.png 260w, images/truhoo-123x100.png 123w, images/truhoo-20x16.png 20w, images/truhoo-100x81.png 100w" sizes="(max-width: 328px) 100vw, 328px">										</div>
										<h3 class="works-single-projects-item-title">
											Truhoo										</h3>
										<p class="works-single-projects-item-text">
											An SEO-friendly real estate platform <br>
										</p>
									</a>
								</li>
													</ul>
					</div>
							</div>
		</div>
	</section>
</DefaultLayout>