---
import DefaultLayout from '../layouts/layout.astro';


---
<title>Industries - Cloud Hawk</title>
<DefaultLayout>
        <section class="breadcrumbs">
            <div class="container">
                <ul class="breadcrumbs-list">
                    <!-- Breadcrumb NavXT 7.3.1 -->
        <li class="breadcrumbs-item"><span itemprop="itemListElement"><a class="breadcrumbs-link" property="item" typeof="WebPage" title="Cloud Hawk" href="https://cloudhawktech.com"><span property="name">Cloud Hawk</span></a><meta property="position" content="1"></span></li><li class="breadcrumbs-item archive post-industries-archive current-item"><span itemprop="itemListElement"><span property="name" itemprop="itemListElement">Industries</span><meta property="url" content="https://cloudhawktech.com/industries/"><meta property="position" content="2"></span></li>			</ul>
            </div>
        </section>
        <section class="indrusties-list-first-screen" data-header="header-transparent-white" id="">
            <div class="container">
                <div class="indrusties-list-first-screen-image-container">
                    <div class="indrusties-list-first-screen-image-wrapper">
                        <img class="indrusties-list-first-screen-image-eclipse" src="/images/indrusties-list-first-screen-eclipsse.svg" alt="">
                        <img class="indrusties-list-first-screen-image-eclipse-inside" src="/images/indrusties-list-first-screen-eclipsse-inside.svg" alt="">
                    </div>
                </div>
                <div class="indrusties-list-first-screen-title-background"></div>
                <div class="indrusties-list-first-screen-title-container">
                                        <h1 class="indrusties-list-first-screen-title">
                            <span>Industries</span> in focus<br>
                        </h1>
                                                        <p class="indrusties-list-first-screen-text">
                            Transform your business at an accelerated pace with domain experience, unique business process knowledge, and a dedicated delivery unit.<br>
                        </p>
                                </div>
            </div>
        </section>
        
        
        <section class="indrusties-list-experience" data-header="header-black" id="">
            <div class="container">
                                <h2 class="indrusties-list-experience-title">
                        We have <span>experience</span> in these industries				</h2>
                                            <ul class="indrusties-list-experience-list">
                        
                            <li class="indrusties-list-experience-item">
                                                                                    <a href="/industries/healthcare-software-development/" class="indrusties-list-experience-item-link" target="_blank">
                                    <h3 class="indrusties-list-experience-item-title">
                                        Healthcare								</h3>
                                    <p class="indrusties-list-experience-item-text">
                                        Custom EHR, EMR, ERX, and other medical solutions								</p>
                                    <span class="indrusties-list-experience-item-read-more">read more</span>
                                    <figure class="indrusties-list-experience-item-image">
                                        <img decoding="async" width="200" height="200" src="/images/illustration_healtcare.webp" class="attachment-full size-full" alt="" srcset="/images/illustration_healtcare.webp 200w, /images/illustration_healtcare-150x150.webp 150w, /images/illustration_healtcare-90x90.webp 90w, /images/illustration_healtcare-100x100.webp 100w, /images/illustration_healtcare-20x20.webp 20w" sizes="(max-width: 200px) 100vw, 200px">								</figure>
                                </a>
                                                    </li>
        
                        
                            <li class="indrusties-list-experience-item">
                                                                                    <a href="/industries/financial-software-development/" class="indrusties-list-experience-item-link" target="_blank">
                                    <h3 class="indrusties-list-experience-item-title">
                                        FinTech								</h3>
                                    <p class="indrusties-list-experience-item-text">
                                        Custom financial software for digital payments, banking								</p>
                                    <span class="indrusties-list-experience-item-read-more">read more</span>
                                    <figure class="indrusties-list-experience-item-image">
                                        <img decoding="async" width="200" height="200" src="/images/illustration_fintechsvg.webp" class="attachment-full size-full" alt="" srcset="/images/illustration_fintechsvg.webp 200w, /images/illustration_fintechsvg-150x150.webp 150w, /images/illustration_fintechsvg-90x90.webp 90w, /images/illustration_fintechsvg-100x100.webp 100w, /images/illustration_fintechsvg-20x20.webp 20w" sizes="(max-width: 200px) 100vw, 200px">								</figure>
                                </a>
                                                    </li>
        
                        
                            <li class="indrusties-list-experience-item">
                                                                                    <a href="/industries/supply-chain-management/" class="indrusties-list-experience-item-link" target="_blank">
                                    <h3 class="indrusties-list-experience-item-title">
                                        Transportation and mobility								</h3>
                                    <p class="indrusties-list-experience-item-text">
                                        Custom TMS, WMS, FMS, vehicle management, and blockchain systems for transportation								</p>
                                    <span class="indrusties-list-experience-item-read-more">read more</span>
                                    <figure class="indrusties-list-experience-item-image">
                                        <img decoding="async" width="200" height="200" src="/images/icon_industry_transportation-1.webp" class="attachment-full size-full" alt="" srcset="/images/icon_industry_transportation-1.webp 200w, /images/icon_industry_transportation-1-150x150.webp 150w, /images/icon_industry_transportation-1-90x90.webp 90w, /images/icon_industry_transportation-1-100x100.webp 100w, /images/icon_industry_transportation-1-20x20.webp 20w" sizes="(max-width: 200px) 100vw, 200px">								</figure>
                                </a>
                                                    </li>
        
                        
                            <li class="indrusties-list-experience-item">
                                                                                    <a href="/expertise/iot-solutions/" class="indrusties-list-experience-item-link" target="_blank">
                                    <h3 class="indrusties-list-experience-item-title">
                                        Smart home and appliances								</h3>
                                    <p class="indrusties-list-experience-item-text">
                                        Increase the value of smart home products with user-centered software								</p>
                                    <span class="indrusties-list-experience-item-read-more">read more</span>
                                    <figure class="indrusties-list-experience-item-image">
                                        <img decoding="async" width="200" height="200" src="/images/icon_industry_iot_smart_home.webp" class="attachment-full size-full" alt="" srcset="/images/icon_industry_iot_smart_home.webp 200w, /images/icon_industry_iot_smart_home-150x150.webp 150w, /images/icon_industry_iot_smart_home-90x90.webp 90w, /images/icon_industry_iot_smart_home-100x100.webp 100w, /images/icon_industry_iot_smart_home-20x20.webp 20w" sizes="(max-width: 200px) 100vw, 200px">								</figure>
                                </a>
                                                    </li>
        
                        
                            <li class="indrusties-list-experience-item">
                                                                                    <a href="/expertise/iot-software-development-company/" class="indrusties-list-experience-item-link" target="_blank">
                                    <h3 class="indrusties-list-experience-item-title">
                                        Manufacturing								</h3>
                                    <p class="indrusties-list-experience-item-text">
                                        Optimize production with custom manufacturing software solutions								</p>
                                    <span class="indrusties-list-experience-item-read-more">read more</span>
                                    <figure class="indrusties-list-experience-item-image">
                                        <img decoding="async" width="200" height="200" src="/images/icon_industry_manufacturing-1.webp" class="attachment-full size-full" alt="" srcset="/images/icon_industry_manufacturing-1.webp 200w, /images/icon_industry_manufacturing-1-150x150.webp 150w, /images/icon_industry_manufacturing-1-90x90.webp 90w, /images/icon_industry_manufacturing-1-100x100.webp 100w, /images/icon_industry_manufacturing-1-20x20.webp 20w" sizes="(max-width: 200px) 100vw, 200px">								</figure>
                                </a>
                                                    </li>
        
                        
                            <li class="indrusties-list-experience-item">
                                                                                    <a href="/blog/in-house-software-development-vs-outsourced/" class="indrusties-list-experience-item-link" target="_blank">
                                    <h3 class="indrusties-list-experience-item-title">
                                        Software and hi-tech								</h3>
                                    <p class="indrusties-list-experience-item-text">
                                        Build software of any complexity, from SaaS systems to product ecosystems								</p>
                                    <span class="indrusties-list-experience-item-read-more">read more</span>
                                    <figure class="indrusties-list-experience-item-image">
                                        <img decoding="async" width="200" height="200" src="/images/icon_industry_hi-tech-1.webp" class="attachment-full size-full" alt="" srcset="/images/icon_industry_hi-tech-1.webp 200w, /images/icon_industry_hi-tech-1-150x150.webp 150w, /images/icon_industry_hi-tech-1-90x90.webp 90w, /images/icon_industry_hi-tech-1-100x100.webp 100w, /images/icon_industry_hi-tech-1-20x20.webp 20w" sizes="(max-width: 200px) 100vw, 200px">								</figure>
                                </a>
                                                    </li>
        
                        
                            <li class="indrusties-list-experience-item">
                                                                                    <a href="/works/conscious-energy-consumption/" class="indrusties-list-experience-item-link" target="_blank">
                                    <h3 class="indrusties-list-experience-item-title">
                                        Energy and utilities								</h3>
                                    <p class="indrusties-list-experience-item-text">
                                        Build smart energy management systems to optimize the energy use								</p>
                                    <span class="indrusties-list-experience-item-read-more">read more</span>
                                    <figure class="indrusties-list-experience-item-image">
                                        <img decoding="async" width="200" height="200" src="/images/icon_industry_energy.webp" class="attachment-full size-full" alt="" srcset="/images/icon_industry_energy.webp 200w, /images/icon_industry_energy-150x150.webp 150w, /images/icon_industry_energy-90x90.webp 90w, /images/icon_industry_energy-100x100.webp 100w, /images/icon_industry_energy-20x20.webp 20w" sizes="(max-width: 200px) 100vw, 200px">								</figure>
                                </a>
                                                    </li>
        
                        
                            <li class="indrusties-list-experience-item">
                                                                                    <a href="/works/truhoo/" class="indrusties-list-experience-item-link" target="_blank">
                                    <h3 class="indrusties-list-experience-item-title">
                                        Real estate								</h3>
                                    <p class="indrusties-list-experience-item-text">
                                        Develop modern real estate solutions using cutting-edge technologies								</p>
                                    <span class="indrusties-list-experience-item-read-more">read more</span>
                                    <figure class="indrusties-list-experience-item-image">
                                        <img decoding="async" width="200" height="200" src="/images/icon_industry_real-estate-1.webp" class="attachment-full size-full" alt="" srcset="/images/icon_industry_real-estate-1.webp 200w, /images/icon_industry_real-estate-1-150x150.webp 150w, /images/icon_industry_real-estate-1-90x90.webp 90w, /images/icon_industry_real-estate-1-100x100.webp 100w, /images/icon_industry_real-estate-1-20x20.webp 20w" sizes="(max-width: 200px) 100vw, 200px">								</figure>
                                </a>
                                                    </li>
        
                                        </ul>
                        </div>
        </section>
        
        
        <section class="expertice-items" data-header="header-black" id="">
            <div class="expertice-items-container">
                <div class="container">
                                        <div class="expertice-items-block-title-container">
                            <h2 class="expertice-items-block-title">
                                <span>Expertise</span> and competencies						</h2>
                        </div>
        
                                    <div class="expertice-items-tabs-container">
                        <ul class="expertice-items-title-list">
                                                        <li class="expertice-items-title" id="control-selected">
                                    <h3>Technology excellence</h3>
                                    <p class="expertice-items-text">
                                        Cloud Hawk brings a profound technical expertise spanning multiple domains, leveraging cutting-edge technologies like artificial intelligence (AI), Internet of Things (IoT), and blockchain. Combining these technologies, Cloud Hawk delivers robust, scalable, and future-proof digital solutions for diverse industries								</p>
                                </li>
                                                    </ul>
                        <ul class="expertice-items-content-list">
                                                        <li class="expertice-items-content-item">
                                    <ul class="expertice-items-content-item-list">
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/iot-services/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        IoT Services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/ai-development-services/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        AI development services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/data-science-services/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Data science services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/machine-learning-development/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Machine learning development												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/it-infrastructure-services/cloud-and-devops-services/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Cloud and DevOps services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/blockchain-software-development/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Blockchain software development												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/rpa-solutions/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Business-specific RPA services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/ui-and-ux-design/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        UI/UX design services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/cybersecurity-services/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Cybersecurity services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/performance-testing-services/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Performance testing services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/data-analytics-services/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Data analytics services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/business-intelligence-services/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Business intelligence services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/big-data-services/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Big data services												</p>
                                                </a>
                                            </li>
                                                                                <li class="expertice-items-content-item-list-item">
                                                <a href="https://cloudhawktech.com/expertise/data-engineering-services/" class="expertice-items-content-list-item-link">
                                                    <p>
                                                        Data engineering services												</p>
                                                </a>
                                            </li>
                                                                        </ul>
                                </li>
                                                    </ul>
                    </div>
                    <div class="expertice-items-tabs-container-mobile">
                        <ul class="expertice-items-tabs-container-mobile-list">
                                                        <li class="expertice-items-tabs-container-mobile-item">
                                    <h3 class="expertice-items-tabs-container-mobile-item-title">
                                        Technology excellence								</h3>
                                    <p class="expertice-items-tabs-container-mobile-item-text">
                                        Cloud Hawk brings a profound technical expertise spanning multiple domains, leveraging cutting-edge technologies like artificial intelligence (AI), Internet of Things (IoT), and blockchain. Combining these technologies, Cloud Hawk delivers robust, scalable, and future-proof digital solutions for diverse industries								</p>
                                    <ul class="expertice-items-tabs-container-mobile-item-list">
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/iot-services/">
                                                    IoT Services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/ai-development-services/">
                                                    AI development services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/data-science-services/">
                                                    Data science services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/machine-learning-development/">
                                                    Machine learning development											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/it-infrastructure-services/cloud-and-devops-services/">
                                                    Cloud and DevOps services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/blockchain-software-development/">
                                                    Blockchain software development											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/rpa-solutions/">
                                                    Business-specific RPA services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/ui-and-ux-design/">
                                                    UI/UX design services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/cybersecurity-services/">
                                                    Cybersecurity services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/performance-testing-services/">
                                                    Performance testing services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/data-analytics-services/">
                                                    Data analytics services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/business-intelligence-services/">
                                                    Business intelligence services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/big-data-services/">
                                                    Big data services											</a>
                                            </li>
                                                                                <li class="expertice-items-tabs-container-mobile-item-item">
                                                <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/data-engineering-services/">
                                                    Data engineering services											</a>
                                            </li>
                                                                        </ul>
                                </li>
                                                    </ul>
                    </div>
                                </div>
            </div>
        </section>
        
        
        <section class="video-reviews" data-header="header-black" id="">
            <div class="container">
                <div class="video-reviews-container">
                                        <div class="video-reviews-title-container">
                            <h2 class="video-reviews-title">
                                What our<br>
        <span>clients say</span> about us<br>
                            </h2>
                        </div>
                                    <div class="count-reviews-mobile-video"></div>
                    <div class="video-reviews-pagination"></div>
                    <div class="video-reviews-list swiper">
                        <div class="swiper-wrapper">
                            <div class="video-reviews-item swiper-slide">
                                <div class="video-reviews-item-container">
                                    <div class="video-reviews-item-text-container">
                                        <div class="video-reviews-item-text">
                                            <p><span style="font-weight: 400;">Cloud Hawk has been a great fit for us
                                                    because of their experience, responsiveness, value, and time to
                                                    market. From the very start, they’ve been able to staff an
                                                    effective development team in no time and perform as
                                                    expected.&nbsp;</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="video-reviews-item swiper-slide">
                                <div class="video-reviews-item-container">
                                <div class="video-reviews-item-text-container">
                                        <div class="video-reviews-item-text">
                                            <p><span style="font-weight: 400;">What triggered us was their remote
                                                    collaboration practices as well as their experience in the IoT
                                                    industry. Their strong technical experience helped us scale our
                                                    platform and deliver great performance to our
                                                    customers.&nbsp;</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="video-reviews-item swiper-slide">
                                <div class="video-reviews-item-container">
                                    <div class="video-reviews-item-text-container">
                                        <div class="video-reviews-item-text">
                                            <p><span style="font-weight: 400;">Cloud Hawk has been a great fit for us
                                                    because of their experience, responsiveness, value, and time to
                                                    market. From the very start, they’ve been able to staff an
                                                    effective development team in no time and perform as
                                                    expected. &nbsp;</span></p>
                                            <p> &nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="video-reviews-item swiper-slide">
                                <div class="video-reviews-item-container">
                                    <div class="video-reviews-item-text-container">
                                        <div class="video-reviews-item-text">
                                            <p>Established development flows and good communication skills made
                                                collaboration with Cloud Hawk very smooth. We appreciate their
                                                professionalism and dedication. If you are looking for a solid
                                                technical partner and a well-processed software outsourcing company
                                                for your project, I’d recommend Cloud Hawk.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="video-reviews-item swiper-slide">
                                <div class="video-reviews-item-container">
                                    <div class="video-reviews-item-text-container">
                                        <div class="video-reviews-item-text">
                                            <p><span style="font-weight: 400;">They have very good organization and
                                                    project management expertise. We’re not just getting the
                                                    developers, we’re getting a whole support structure. Also,
                                                    Cloud Hawk cares about their employee satisfaction. And with
                                                    satisfied employees, we get much better output. &nbsp;</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="video-reviews-item swiper-slide">
                                <div class="video-reviews-item-container">
                                    <div class="video-reviews-item-text-container">
                                        <div class="video-reviews-item-text">
                                            <p><span style="font-weight: 400;">One of the biggest values they bring
                                                    to the table is the way of thinking critically during the whole
                                                    development process. They’re not just building software, they’re
                                                    effectively solving your business problem.</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="video-reviews-item swiper-slide">
                                <div class="video-reviews-item-container">
                                    <div class="video-reviews-item-text-container">
                                        <div class="video-reviews-item-text">
                                            <p><span style="font-weight: 400;">What fascinated me the most is how
                                                    invested the Cloud Hawk development team is, and how they often
                                                    exceeded expectations in what we were trying to accomplish in
                                                    terms of timeframes. &nbsp;</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="video-reviews-item swiper-slide">
                                <div class="video-reviews-item-container">
                                    <div class="video-reviews-item-text-container">
                                        <div class="video-reviews-item-text">
                                            <p><span style="font-weight: 400;">With the product built by Cloud Hawk,
                                                    we have a lot of possibilities for growth. They elaborated a
                                                    great user experience for our operators to work more efficiently
                                                    and properly deal with troubleshooting. And the architecture of
                                                    the product is scalable and ready for the future.</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="video-reviews-item swiper-slide">
                                <div class="video-reviews-item-container">
                                    <div class="video-reviews-item-text-container">
                                        <div class="video-reviews-item-text">
                                            <p><span style="font-weight: 400;">Working with Cloud Hawk, you get their
                                                    breadth of experience building hundreds of projects. Their
                                                    expertise and knowledge were second to none. And that makes the
                                                    difference between a good product and a great product.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-reviews-swiper-navigation">
                        <div class="video-reviews-button-prev"></div>
                        <div class="video-reviews-button-next"></div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="software" data-header="header-white" id="">
            <div class="container">
                                <div class="software-title-container">
                        <h2 class="software-title">
                            <span>Benefits</span> of working with <br>
        an industry-dedicated team					</h2>
                    </div>
                                            <ul class="software-list">
                                                <li class="software-item-two-column">
                                <img decoding="async" width="26" height="26" src="/images/group-234-1.svg" class="attachment-full size-full" alt="">							<h3 class="software-item-title">
                                    Optimize your product delivery terms <br>
        <br>
                                </h3>
                                <p class="software-item-text">
                                    Rely on domain-specific expertise to spend less time and money throughout the onboarding stage. Form your product vision faster and start developing earlier compared to a team with no domain expertise.<br>
        <br>
                                </p>
                            </li>
                                                <li class="software-item-two-column">
                                <img decoding="async" width="26" height="26" src="/images/group-234-1.svg" class="attachment-full size-full" alt="">							<h3 class="software-item-title">
                                    Get a more relevant technical solution<br>
        <br>
                                </h3>
                                <p class="software-item-text">
                                    Obtain flexible and scalable architectures and reliable alternatives for each functional module. Implement a relevant technical solution to support your business continuity and successful operations.<br>
        <br>
        <br>
        <br>
                                </p>
                            </li>
                                                <li class="software-item-two-column">
                                <img decoding="async" width="26" height="26" src="/images/group-234-1.svg" class="attachment-full size-full" alt="">							<h3 class="software-item-title">
                                    Ramp up with an industry-experienced team <br>
        <br>
                                </h3>
                                <p class="software-item-text">
                                    Ensure domain-specific expertise to create top-notch custom solutions with workshops, regular knowledge sharing sessions, and a well-established framework for training new team members.<br>
        <br>
                                </p>
                            </li>
                                                <li class="software-item-two-column">
                                <img decoding="async" width="26" height="26" src="/images/group-234-1.svg" class="attachment-full size-full" alt="">							<h3 class="software-item-title">
                                    Receive additional value for your business <br>
        <br>
                                </h3>
                                <p class="software-item-text">
                                    Benefit from subject matter experts’ experience to create industry-specific custom software products and optimize business processes for improved efficiency, scalability, and customer satisfaction.<br>
        <br>
                                </p>
                            </li>
                                        </ul>
                        </div>
        </section>
        
        
        <section class="case-studies" data-header="header-black" id="">
            <div class="container">
                <div class="case-studies-title-container">
                                        <h2 class="case-studies-title">
                            <span>Case studies</span> of solutions<br>  for various industries<br>
                        </h2>
                                    <div class="case-studies-swiper-navigation">
                        <div class="case-studies-button-prev"></div>
                        <div class="case-studies-button-next"></div>
                    </div>
                </div>
                            <div class="case-studies-container">
                                        <div class="count-reviews-mobile-case"></div>
                        <div class="case-studies-pagination"></div>
                        <div class="case-studies-list swiper">
                            <div class="swiper-wrapper">
                                                                <div class="case-studies-item swiper-slide">
                                        <a href="https://cloudhawktech.com/works/ehr-integration/" class="case-studies-item-link">
                                            <div class="case-studies-item-back" style="background-color: "></div>
                                            <h3 class="case-studies-item-title">
                                                All-around HIPAA-compliant system										</h3>
                                                                                        <ul class="case-studies-item-list">
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Digitization of a medical practice														</p>
                                                        </li>
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Appointment scheduling and telemedicine modules														</p>
                                                        </li>
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Medical device integration														</p>
                                                        </li>
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Basic clinical decision support														</p>
                                                        </li>
                                                                                                </ul>
                                                                                    <div class="case-studies-item-image-wrapper">
                                                <div class="case-studies-item-image-small">
                                                    <img decoding="async" width="143" height="45" src="/images/logo6.svg" class="attachment-full size-full" alt="">											</div>
                                                <div class="case-studies-item-image-big">
                                                    <img decoding="async" width="328" height="243" src="/images/picture6-1.webp" class="attachment-full size-full" alt="iot solutions" srcset="/images/picture6-1.webp 328w, /images/picture6-1-300x222.webp 300w, /images/picture6-1-281x208.webp 281w, /images/picture6-1-270x200.webp 270w, /images/picture6-1-120x90.webp 120w, /images/picture6-1-260x193.webp 260w, /images/picture6-1-135x100.webp 135w, /images/picture6-1-20x15.webp 20w, /images/picture6-1-100x74.webp 100w" sizes="(max-width: 328px) 100vw, 328px">											</div>
                                            </div>
                                            <p class="case-studies-item-button">
                                                See full case study
                                            </p>
                                        </a>
                                    </div>
                                                                <div class="case-studies-item swiper-slide">
                                        <a href="https://cloudhawktech.com/works/wealth-management-platform/" class="case-studies-item-link">
                                            <div class="case-studies-item-back" style="background-color: "></div>
                                            <h3 class="case-studies-item-title">
                                                Unified wealth management system										</h3>
                                                                                        <ul class="case-studies-item-list">
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Aggregated customers’ financial data														</p>
                                                        </li>
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Investment activity monitoring														</p>
                                                        </li>
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Real-time reports														</p>
                                                        </li>
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Customer portal for enhanced collaboration														</p>
                                                        </li>
                                                                                                </ul>
                                                                                    <div class="case-studies-item-image-wrapper">
                                                <div class="case-studies-item-image-small">
                                                    <img decoding="async" width="143" height="45" src="/images/logo-20.svg" class="attachment-full size-full" alt="">											</div>
                                                <div class="case-studies-item-image-big">
                                                    <img decoding="async" width="492" height="365" src="/images/lifeworks.webp" class="attachment-full size-full" alt="" srcset="/images/lifeworks.webp 492w, /images/lifeworks-300x223.webp 300w, /images/lifeworks-280x208.webp 280w, /images/lifeworks-270x200.webp 270w, /images/lifeworks-328x243.webp 328w, /images/lifeworks-120x90.webp 120w, /images/lifeworks-337x250.webp 337w, /images/lifeworks-368x273.webp 368w, /images/lifeworks-260x193.webp 260w, /images/lifeworks-464x344.webp 464w, /images/lifeworks-135x100.webp 135w, /images/lifeworks-20x15.webp 20w, /images/lifeworks-100x74.webp 100w" sizes="(max-width: 492px) 100vw, 492px">											</div>
                                            </div>
                                            <p class="case-studies-item-button">
                                                See full case study
                                            </p>
                                        </a>
                                    </div>
                                                                <div class="case-studies-item swiper-slide">
                                        <a href="https://cloudhawktech.com/works/transportation-management-system/" class="case-studies-item-link">
                                            <div class="case-studies-item-back" style="background-color: "></div>
                                            <h3 class="case-studies-item-title">
                                                SaaS solution for transportation management 										</h3>
                                                                                        <ul class="case-studies-item-list">
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Reduction in route planning time from 6 hours to 30 minutes														</p>
                                                        </li>
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Automation of routine processes and problem-solving														</p>
                                                        </li>
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Increased transportation visibility														</p>
                                                        </li>
                                                                                                </ul>
                                                                                    <div class="case-studies-item-image-wrapper">
                                                <div class="case-studies-item-image-small">
                                                    <img decoding="async" width="143" height="45" src="/images/custom-white-label-tms-solution-for-enhanced-logistics-efficiency_logo.svg" class="attachment-full size-full" alt="">											</div>
                                                <div class="case-studies-item-image-big">
                                                    <img decoding="async" width="492" height="365" src="/images/smart-logistics.webp" class="attachment-full size-full" alt="" srcset="/images/smart-logistics.webp 492w, /images/smart-logistics-300x223.webp 300w, /images/smart-logistics-280x208.webp 280w, /images/smart-logistics-270x200.webp 270w, /images/smart-logistics-328x243.webp 328w, /images/smart-logistics-120x90.webp 120w, /images/smart-logistics-337x250.webp 337w, /images/smart-logistics-368x273.webp 368w, /images/smart-logistics-260x193.webp 260w, /images/smart-logistics-135x100.webp 135w, /images/smart-logistics-20x15.webp 20w, /images/smart-logistics-100x74.webp 100w" sizes="(max-width: 492px) 100vw, 492px">											</div>
                                            </div>
                                            <p class="case-studies-item-button">
                                                See full case study
                                            </p>
                                        </a>
                                    </div>
                                                                <div class="case-studies-item swiper-slide">
                                        <a href="https://cloudhawktech.com/works/truhoo/" class="case-studies-item-link">
                                            <div class="case-studies-item-back" style="background-color: "></div>
                                            <h3 class="case-studies-item-title">
                                                Feature-rich and secure real estate platform										</h3>
                                                                                        <ul class="case-studies-item-list">
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Scalable and GDPR-compliant software system														</p>
                                                        </li>
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Processing and storage of high volumes of media data														</p>
                                                        </li>
                                                                                                        <li class="case-studies-item-list-item">
                                                            <p class="case-studies-item-list-item-title">
                                                                Centralized logging and performance monitoring														</p>
                                                        </li>
                                                                                                </ul>
                                                                                    <div class="case-studies-item-image-wrapper">
                                                <div class="case-studies-item-image-small">
                                                    <img decoding="async" width="143" height="45" src="/images/logo5.svg" class="attachment-full size-full" alt="">											</div>
                                                <div class="case-studies-item-image-big">
                                                    <img decoding="async" width="492" height="365" src="/images/truhoo-2.webp" class="attachment-full size-full" alt="" srcset="/images/truhoo-2.webp 492w, /images/truhoo-2-300x223.webp 300w, /images/truhoo-2-280x208.webp 280w, /images/truhoo-2-270x200.webp 270w, /images/truhoo-2-328x243.webp 328w, /images/truhoo-2-120x90.webp 120w, /images/truhoo-2-337x250.webp 337w, /images/truhoo-2-368x273.webp 368w, /images/truhoo-2-260x193.webp 260w, /images/truhoo-2-135x100.webp 135w, /images/truhoo-2-20x15.webp 20w, /images/truhoo-2-100x74.webp 100w" sizes="(max-width: 492px) 100vw, 492px">											</div>
                                            </div>
                                            <p class="case-studies-item-button">
                                                See full case study
                                            </p>
                                        </a>
                                    </div>
                                                        </div>
                        </div>
                        <div class="case-studies-swiper-navigation-mobile">
                            <div class="case-studies-button-prev-tablet"></div>
                            <div class="case-studies-button-next-tablet"></div>
                        </div>
                                </div>
                                <div class="cta-dark-orange-bg">
                        <div class="cta-dark-orange-bg-container">
                            <div class="">
                                <h3 class="cta-dark-orange-bg-title">
                                    Got a domain-specific project? 							</h3>
                                <p class="cta-dark-orange-bg-text">
                                    We have the expertise to build a high-quality product in line with industry policies and your business requirements.<br>
                                </p>
                            </div>
                                                                                <a class="cta-dark-orange-bg-link" href="/contacts/">
                                    Contact us							</a>
                                                </div>
                    </div>
                        </div>
        </section>
        
        
        <section class="insights" data-header="header-white" id="">
            <div class="container">
                                <div class="insights-title-container">
                        <h2 class="insights-title">
                            Software development <span>Insights</span> 					</h2>
                    </div>
                            <div class="insights-list">
                                                                                            <a class="insights-item" href="https://cloudhawktech.com/blog/how-to-solve-space-usage-issues-in-logistics/">
                                    <div class="insights-item-image">
                                        <img decoding="async" width="1920" height="1280" src="/images/how-to-solve-space-usage-issues-in-logistics.webp" class="attachment-full size-full" alt="" srcset="/images/how-to-solve-space-usage-issues-in-logistics.webp 1920w, /images/how-to-solve-space-usage-issues-in-logistics-300x200.webp 300w, /images/how-to-solve-space-usage-issues-in-logistics-1024x683.webp 1024w, /images/how-to-solve-space-usage-issues-in-logistics-768x512.webp 768w, /images/how-to-solve-space-usage-issues-in-logistics-1536x1024.webp 1536w, /images/how-to-solve-space-usage-issues-in-logistics-312x208.webp 312w, /images/how-to-solve-space-usage-issues-in-logistics-288x192.webp 288w, /images/how-to-solve-space-usage-issues-in-logistics-328x219.webp 328w, /images/how-to-solve-space-usage-issues-in-logistics-120x80.webp 120w, /images/how-to-solve-space-usage-issues-in-logistics-375x250.webp 375w, /images/how-to-solve-space-usage-issues-in-logistics-368x245.webp 368w, /images/how-to-solve-space-usage-issues-in-logistics-260x173.webp 260w, /images/how-to-solve-space-usage-issues-in-logistics-516x344.webp 516w, /images/how-to-solve-space-usage-issues-in-logistics-600x400.webp 600w, /images/how-to-solve-space-usage-issues-in-logistics-150x100.webp 150w, /images/how-to-solve-space-usage-issues-in-logistics-20x13.webp 20w, /images/how-to-solve-space-usage-issues-in-logistics-100x67.webp 100w" sizes="(max-width: 1920px) 100vw, 1920px">								</div>
                                                                    <div class="insights-item-text-container">
                                                                                <span class="insights-item-category">
                                            How to									</span>
                                                                            <h3 class="insights-item-title">
                                            Space optimization in storage and transport facilities amid the ecommerce boom									</h3>
                                                                                <p class="insights-item-text">
                                                Learn how to optimize space use in transport and storage facilities to fulfill increased demand for deliveries due to the e-commerce boom.										</p>
                                                                        </div>
                                </a>
                                                                                                    <a class="insights-item" href="https://cloudhawktech.com/blog/hipaa-vs-healthcare-laws-in-other-countries/">
                                    <div class="insights-item-image">
                                        <img decoding="async" width="1920" height="736" src="/images/hipaa-vs-healthcare-laws-and-regulations-scaled-1.webp" class="attachment-full size-full" alt="" srcset="/images/hipaa-vs-healthcare-laws-and-regulations-scaled-1.webp 1920w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-300x115.webp 300w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-1024x393.webp 1024w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-768x294.webp 768w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-1536x589.webp 1536w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-336x129.webp 336w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-288x110.webp 288w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-368x141.webp 368w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-328x126.webp 328w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-120x46.webp 120w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-652x250.webp 652w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-260x100.webp 260w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-897x344.webp 897w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-732x281.webp 732w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-177x68.webp 177w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-20x8.webp 20w, /images/hipaa-vs-healthcare-laws-and-regulations-scaled-1-100x38.webp 100w" sizes="(max-width: 1920px) 100vw, 1920px">								</div>
                                                                    <div class="insights-item-text-container">
                                                                                <span class="insights-item-category">
                                            How to									</span>
                                                                            <h3 class="insights-item-title">
                                            HIPAA vs Healthcare Laws and Regulations in Canada, the UK, Australia, and MENA Countries									</h3>
                                                                                <p class="insights-item-text">
                                                Find out the key differences in healthcare laws in the US, Canada, the UK, Australia, and MENA countries.										</p>
                                                                        </div>
                                </a>
                                                                                                    <a class="insights-item" href="https://cloudhawktech.com/blog/digitalization-of-a-traditional-bank/">
                                    <div class="insights-item-image">
                                        <img decoding="async" width="1920" height="1440" src="/images/digitalization_of_traditional_banking-1.webp" class="attachment-full size-full" alt="" srcset="/images/digitalization_of_traditional_banking-1.webp 1920w, /images/digitalization_of_traditional_banking-1-300x225.webp 300w, /images/digitalization_of_traditional_banking-1-1024x768.webp 1024w, /images/digitalization_of_traditional_banking-1-768x576.webp 768w, /images/digitalization_of_traditional_banking-1-1536x1152.webp 1536w, /images/digitalization_of_traditional_banking-1-277x208.webp 277w, /images/digitalization_of_traditional_banking-1-267x200.webp 267w, /images/digitalization_of_traditional_banking-1-328x246.webp 328w, /images/digitalization_of_traditional_banking-1-120x90.webp 120w, /images/digitalization_of_traditional_banking-1-333x250.webp 333w, /images/digitalization_of_traditional_banking-1-368x276.webp 368w, /images/digitalization_of_traditional_banking-1-260x195.webp 260w, /images/digitalization_of_traditional_banking-1-459x344.webp 459w, /images/digitalization_of_traditional_banking-1-533x400.webp 533w, /images/digitalization_of_traditional_banking-1-133x100.webp 133w, /images/digitalization_of_traditional_banking-1-20x15.webp 20w, /images/digitalization_of_traditional_banking-1-100x75.webp 100w" sizes="(max-width: 1920px) 100vw, 1920px">								</div>
                                                                    <div class="insights-item-text-container">
                                                                                <span class="insights-item-category">
                                            How to									</span>
                                                                            <h3 class="insights-item-title">
                                            What it takes for a traditional banking institution to go digital									</h3>
                                                                                <p class="insights-item-text">
                                                Reveal the subtleties of digital transformation for banks: challenges you need to overcome, benefits you’ll get, technologies you can use, and success factors.										</p>
                                                                        </div>
                                </a>
                                                                            </div>
            </div>
        </section>
        
        
        <section class="faq" data-header="header-white" id="">
            <div class="faq-dots-container">
                <div class="faq-dots-wrapper">
                    <div class="faq-dots-1"></div>
                    <div class="faq-dots-2"></div>
                    <div class="faq-dots-3"></div>
                </div>
            </div>
            <div class="container">
                                <div class="faq-container">
                        <span class="faq-title">FAQ</span>
                    </div>
                                            <div class="faq-list">
                                                <div class="faq-item">
                                <div class="faq-question">
                                    <h3 class="faq-question-title">
                                        What’s your approach to understanding industry-specific requirements and business processes?								</h3>
                                    <div class="faq-question-image"></div>
                                </div>
                                <div class="faq-answer">
                                    <div class="faq-answer-text">
                                        <p>
                                            </p><p><span style="font-weight: 400;">We dive deep into every detail of each industry we work with by studying market trends, following changes to industry policies and regulations, as well as analyzing key players in the industry and defining the reasons for their success. With this insightful knowledge, we can quickly understand your needs by speaking the same language as you.</span></p>
        <p> &nbsp;</p>
        <p><span style="font-weight: 400;">To learn about clients’ challenges and critical pain points, our business analysts hold interviews with multiple stakeholders and subject matter experts to look at business processes from different perspectives. Such an approach is critical for us to provide you with a relevant business solution rather than mere coding skills. After such close discussion, we share with you various artifacts such as a workflow diagram that highlights both manual and already digitized steps to show you possible areas for improvement.</span></p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                                                <div class="faq-item">
                                <div class="faq-question">
                                    <h3 class="faq-question-title">
                                        How do you maintain relevant domain expertise and keep up with the latest trends?								</h3>
                                    <div class="faq-question-image"></div>
                                </div>
                                <div class="faq-answer">
                                    <div class="faq-answer-text">
                                        <p>
                                            </p><p><span style="font-weight: 400;">We maintain long-term partnerships with industry leaders, previous clients, and diverse domain-specific organizations. Plus, we frequently attend online and offline industry events to expand our network and define the ways in which we can employ our skills and knowledge. We also run internal workshops and knowledge-sharing sessions to pass along knowledge gained at industry-oriented conferences. </span><span style="font-weight: 400;">For each domain, we also have knowledge holders with extensive industry experience who provide on-demand consulting services for the team and our clients.</span></p>
        <p> &nbsp;</p>
        <p><span style="font-weight: 400;">In this way, we maintain an up-to-date understanding of the industries we work with and can provide our clients with customized digital solutions that help them keep their businesses competitive and relevant in the face of changing customer demands.</span></p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                                                <div class="faq-item">
                                <div class="faq-question">
                                    <h3 class="faq-question-title">
                                        How can you prove the qualifications of your domain specialists?								</h3>
                                    <div class="faq-question-image"></div>
                                </div>
                                <div class="faq-answer">
                                    <div class="faq-answer-text">
                                        <p>
                                            </p><p><span style="font-weight: 400;">As a reputable and mature software development company, we pay close attention to the qualifications and expertise of our domain experts and are open and transparent about their education and industry-related background. Before onboarding any team member to your project, we can provide you with information on their past projects, professional certifications, and even references from previous clients. Plus, you can conduct one-on-one interviews with each of your team members and evaluate for yourself their level of knowledge and experience.</span></p>
        <p> &nbsp;</p>
        <p><span style="font-weight: 400;">We also encourage continuous learning and professional development within our domain-dedicated delivery units. Our specialists’ commitment to ongoing education allows us to constantly expand our knowledge base, obtain new certifications, and keep up with the latest industry best practices.</span></p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                                                <div class="faq-item">
                                <div class="faq-question">
                                    <h3 class="faq-question-title">
                                        What is your typical timeline and development process for industry-dedicated software?								</h3>
                                    <div class="faq-question-image"></div>
                                </div>
                                <div class="faq-answer">
                                    <div class="faq-answer-text">
                                        <p>
                                            </p><p><span style="font-weight: 400;">We approach each industry-specific project as a unique case, and the timeline and development process primarily hinge on the project’s complexity as well as on time and budget constraints. For instance, one of our clients in the financial industry stressed that it was critical for them to complete software development prior to an industry event at which they would present their new product to investors. To meet this deadline, we offered to roll out an MVP version first, which was enough for the presentation to investors but required much less time compared to developing the complete product. Additionally, we applied our stakeholder and requirements management frameworks and ramped up the team with industry experts and developers to deliver the complete solution at an accelerated pace. &nbsp;</span></p>
        <p> &nbsp;</p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                                        </div>
                        </div>
        </section>
        
        
            <section class="contact-us contact-us-v1 contact-us-v1-book-call" data-header="header-white" id="contact">
                <div class="contact-us-container">
                    <div class="container">
                        <div class="contact-us-wrapper">
                            <div class="contact-us-form-wrapper">
                                <div class="contact-us-form-container">
                                    <h2 class="contact-us-form-title">
                                        Contact us                                </h2>
                                    
        <div class="wpcf7 no-js" id="wpcf7-f228-o1" lang="en-US" dir="ltr">
        <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
        <form action="/industries/#wpcf7-f228-o1" method="post" class="wpcf7-form init wpcf7-acceptance-as-validation" aria-label="Contact form" enctype="multipart/form-data" novalidate="novalidate" data-status="init">
        <div style="display: none;">
        <input type="hidden" name="_wpcf7" value="228">
        <input type="hidden" name="_wpcf7_version" value="5.9.8">
        <input type="hidden" name="_wpcf7_locale" value="en_US">
        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f228-o1">
        <input type="hidden" name="_wpcf7_container_post" value="0">
        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
        <input type="hidden" name="_wpcf7_recaptcha_response" value="">
        </div>
        <div class="contact-form-info-wrapper">  
        <div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="fullName"><input size="40" maxlength="1000" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" aria-required="true" aria-invalid="false" placeholder="Full name" value="" type="text" name="fullName"></span><label for="fullName">Full name<b style="color:#FF6300">*</b></label></div>
        <div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" maxlength="100" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email input-text" aria-required="true" aria-invalid="false" placeholder="Email address" value="" type="email" name="your-email"></span><label for="your-email">Email address<b style="color:#FF6300">*</b></label></div>
        <div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="orgName"><input size="40" maxlength="1000" class="wpcf7-form-control wpcf7-text input-text" aria-invalid="false" placeholder="Company name" value="" type="text" name="orgName"></span><label for="orgName">Company name</label></div>
        <div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="your-phone"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-tel wpcf7-text wpcf7-validates-as-tel input-text" aria-invalid="false" placeholder="Phone number" value="" type="tel" name="your-phone"></span><label for="your-phone">Phone number</label></div>
        </div>
        <div class="contact-form-text-area-wrapper js-input">
        <div><span class="wpcf7-form-control-wrap" data-name="details"><input size="40" maxlength="1000" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" aria-required="true" aria-invalid="false" placeholder="About your project" value="" type="text" name="details"></span><label for="details"> About your project <b style="color:#FF6300">*</b></label></div>
        </div>
        <div class="contact-form-file-wrapper">
        <label for="wpcf7-file">Attach a file</label>
        <p class="contact-form-file-text">Please upload a file with one of the following extensions: .pdf, .docx, .odt, .ods, .ppt/x, .xls/x, .rtf, .txt</p>
        <div class="contact-form-file-info-wrapper"><p class="contact-form-file-info-wrapper-title">Name_of_file.pdf</p>
            <p class="contact-form-file-info-wrapper-weight">10.53 MB</p> <span class="contact-form-file-info-wrapper-button-close"></span></div>
        <span class="wpcf7-form-control-wrap" data-name="attach-file"><input size="40" class="wpcf7-form-control wpcf7-file" accept=".pdf,.docx,.odt,.ods,.ppt,.pptx,.xls,.xlsx,.rtf,.txt" aria-invalid="false" type="file" name="attach-file"></span>
        </div>
        <div class="contact-form-checkbox-wrapper">
        <div class="contact-form-acceptance-container">
        <span class="wpcf7-form-control-wrap" data-name="privacyPolicyAccepted"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><label><input type="checkbox" name="privacyPolicyAccepted" value="1" aria-invalid="false"><span class="wpcf7-list-item-label"><span class="contact-form-acceptance-label">I have read <a href="/privacy-notice/" target="_blank">Privacy Notice</a><b style="color:#FF6300">*</b></span></span></label></span></span></span>
        </div>
        </div>
        <div class="contact-form-additional-privacy-container checkbox-js"><span class="wpcf7-form-control-wrap" data-name="receiveEmails"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><label><input type="checkbox" name="receiveEmails[]" value="I agree to receive marketing materials about news, events, and proposals from Cloud Hawk"><span class="wpcf7-list-item-label">I agree to receive marketing materials about news, events, and proposals from Cloud Hawk</span></label></span></span></span></div>
        <div class="contact-form-recaptcha-container">
        <span class="wpcf7-form-control-wrap recaptcha" data-name="recaptcha"><span data-sitekey="6LcO6mAnAAAAADWhPb8a_RyRt_AHuYgoX6iCpgIP" class="wpcf7-form-control wpcf7-recaptcha g-recaptcha"></span>
        <noscript>
        <div class="grecaptcha-noscript">
            <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LcO6mAnAAAAADWhPb8a_RyRt_AHuYgoX6iCpgIP" frameborder="0" scrolling="no" width="310" height="430">
            </iframe>
            <textarea name="g-recaptcha-response" rows="3" cols="40" placeholder="reCaptcha Response Here">
            </textarea>
        </div>
        </noscript>
        </span>
        </div>
        <input class="wpcf7-form-control wpcf7-hidden path-history" value="" type="hidden" name="path-history">
        <input class="wpcf7-form-control wpcf7-submit has-spinner contact-form-button" type="submit" value="Send message"><div class="wpcf7-response-output" aria-hidden="true"></div>
        </form>
        </div>
                                </div>
                                                            <div class="contact-us-thanks">
                                    <img decoding="async" src="/images/success.svg" alt="success" width="110" height="110">
                                    <p class="contact-us-thanks-title">
                                        got it!                                </p>
                                    <p class="contact-us-thanks-text">
                                        Keep an eye on your inbox. We’ll be in touch shortly<br>
        Meanwhile, you can explore our hottest case studies and read<br>
        client feedback on Clutch.                                </p>
                                                                        <a href="https://clutch.co/profile/Cloud Hawk#reviews" class="contact-us-thanks-button" target="_blank">
                                            See Cloud Hawk reviews                                    </a>
                                                                </div>
                                <div class="contact-us-error">
                                    <img decoding="async" src="/images/error.svg" alt="error" width="110" height="110">
                                    <p class="contact-us-error-title">opps!</p>
                                    <p class="contact-us-error-text">
                                        Oops, the form hasn’t been submitted. Please, try again
                                    </p>
                                    <a href="#" class="contact-us-error-button">Retry</a>
                                </div>
                            </div>
                            <div class="contact-us-info-wrapper">
        
                                                                                                <div class="contact-us-book-block">
                                                                                <img decoding="async" src="/images/Nick-Orlov.png" alt="">
                                                                                                                    <h4>Nick Orlov</h4>
                                                                                                                    <p>Engagement Manager</p>
                                                                                                                    <div class="contact-us-book-button-wrapper">
                                                                                                                                        <!-- Calendly link widget begin -->
                                                <link href="css/widget.css" rel="stylesheet">
                                                <script is:inline  src="/js/widget.js" type="text/javascript" async=""></script>
                                                <a href="#" class="button button-schedule-call" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/nick-orlov/call-with-nick-from-Cloud Hawk'});return false;">Schedule a call</a>
                                                <!-- Calendly link widget end -->
                                            </div>
                                                                        </div>
                                
                                <div class="contact-us-steps-container">
                                    <h2 class="contact-us-steps-title">Your steps with Cloud Hawk</h2>
                                                                        <ul class="contact-us-steps-list square-bullets">
                                                                                        <li class="contact-us-steps-item">
                                                    <p class="contact-us-steps-item-title">Schedule a call</p>
                                                </li>
                                                                                        <li class="contact-us-steps-item">
                                                    <p class="contact-us-steps-item-title">We collect your requirements</p>
                                                </li>
                                                                                        <li class="contact-us-steps-item">
                                                    <p class="contact-us-steps-item-title">We offer a solution</p>
                                                </li>
                                                                                        <li class="contact-us-steps-item">
                                                    <p class="contact-us-steps-item-title">We succeed together!</p>
                                                </li>
                                                                                </ul>
                                                                </div>
        
                                                        </div>
                        </div>
                    </div>
                </div>
            </section>
        
        




</DefaultLayout>