---
import DefaultLayout from '../layouts/layout.astro';


---
<title>Services - Cloud Hawk</title>
<DefaultLayout>
    

    <section class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs-list">
                <!-- Breadcrumb NavXT 7.3.1 -->
    <li class="breadcrumbs-item"><span itemprop="itemListElement"><a class="breadcrumbs-link" property="item" typeof="WebPage" title="Cloud Hawk" href="https://cloudhawktech.com"><span property="name">Cloud Hawk</span></a><meta property="position" content="1"></span></li><li class="breadcrumbs-item archive post-services-archive current-item"><span itemprop="itemListElement"><span property="name" itemprop="itemListElement">Services</span><meta property="url" content="https://cloudhawktech.com/services/"><meta property="position" content="2"></span></li>			</ul>
        </div>
    </section>
    <section class="services-first-screen overflow-hidden" data-header="header-transparent-white" id="">
        <div class="container">
            <div class="services-first-screen-container">
                <div class="services-first-screen-lottie"></div>
                <div class="services-first-screen-title-container">
                                            <h1 class="services-first-screen-title">
                            <span>Cloud Hawk</span> Services						</h1>
                                                                <p class="services-first-screen-text">
                            As an all-around software engineering and outsourcing company, we can help you at any stage of development. Whether you’re creating your product from scratch, modernizing it, or continuously improving it, we have the expertise your business requires.						</p>
                                    </div>
            </div>
        </div>
    </section>
    
    
    <section class="services" data-header="header-black" id="">
        <div class="services-container">
            <div class="container">
                                    <ul class="services-list">
                                                                            <li class="services-item">
                                <a class="services-item-link" href="/services/custom-software-development/">
                                    <div class="services-item-bg"></div>
                                    <div class="">
                                        <h3 class="services-item-title">
                                            Custom software development										</h3>
                                                                                    <div class="services-item-content">
                                                <p>
                                                    Build a custom solution tailored to your business needs by engaging our domain expertise, extensive technology stack, custom SDLC, and constraint management framework.												</p>
                                            </div>
                                                                            </div>
                                    <span class="services-item-benefits-link">
                                        Read more
                                    </span>
                                </a>
                            </li>
                                                                            <li class="services-item">
                                <a class="services-item-link" href="/services/development-teams/">
                                    <div class="services-item-bg"></div>
                                    <div class="">
                                        <h3 class="services-item-title">
                                            Development team augmentation										</h3>
                                                                                    <div class="services-item-content">
                                                <p>
                                                    We’re ready to cover any of your staffing and ramp-up needs on-site and off-site with our talent nurturing and retention policies and our framework for managing distributed teams.												</p>
                                            </div>
                                                                            </div>
                                    <span class="services-item-benefits-link">
                                        Read more
                                    </span>
                                </a>
                            </li>
                                                                            <li class="services-item">
                                <a class="services-item-link" href="/services/it-consulting/">
                                    <div class="services-item-bg"></div>
                                    <div class="">
                                        <h3 class="services-item-title">
                                            IT consulting										</h3>
                                                                                    <div class="services-item-content">
                                                <p>
                                                    To validate your idea or technology according to your business goals, we perform an architectural assessment, create solution designs, report on risks and limitations, and supply improvement roadmaps.												</p>
                                            </div>
                                                                            </div>
                                    <span class="services-item-benefits-link">
                                        Read more
                                    </span>
                                </a>
                            </li></ul>
                            <ul class="services-list" style="margin: 25px;" >            <li class="services-item">
                                <a class="services-item-link" href="/services/digital-transformation/">
                                    <div class="services-item-bg"></div>
                                    <div class="">
                                        <h3 class="services-item-title">
                                            Digital transformation										</h3>
                                                                                    <div class="services-item-content">
                                                <p>
                                                    Roadmap and implement your digital transformation and prepare your business for new market demands. Automate and optimize processes to increase ROI and beat competitors.												</p>
                                            </div>
                                                                            </div>
                                    <span class="services-item-benefits-link">
                                        Read more
                                    </span>
                                </a>
                            </li>
                                                                            <li class="services-item">
                                <a class="services-item-link" href="/services/staff-augmentation-services/" target="_blank">
                                    <div class="services-item-bg"></div>
                                    <div class="">
                                        <h3 class="services-item-title">
                                            Staff augmentation services										</h3>
                                                                                    <div class="services-item-content">
                                                <p>
                                                    Quickly acquire experienced developers on your team, close the skill gaps, and ensure your project hits its milestones on time.												</p>
                                            </div>
                                                                            </div>
                                    <span class="services-item-benefits-link">
                                        Read more
                                    </span>
                                </a>
                            </li>
                                            </ul>
                            </div>
        </div>
    </section>
    
    
    <section data-header="header-white" class="services-collaboration" id="">
        <div class="container">
            <div class="services-collaboration-container">
                                    <h2 class="services-collaboration-title">
                        Our collaboration and <br>
    engagement <span>models</span>					</h2>
                                                    <ul class="services-collaboration-list">
                                                                                <li class="services-collaboration-item">
                                                                                                                                                <h3 class="services-collaboration-item-title">
                                            Time and materials                                        </h3>
                                                                                                                                                                        <ul class="services-collaboration-item-list">
                                                                                                                                                                                                                                                                                    <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            Long-term project and dynamic requirements                                                        </p>
                                                    </li>
                                                                                                                                                                                                                                                                                                                                                                                <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            Scope of work is not fully specified                                                        </p>
                                                    </li>
                                                                                                                                                                                                                                                                                                                                                                                <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            May need to alter the scope and the workload                                                        </p>
                                                    </li>
                                                                                                                                                                        </ul>
                                                                                            </li>
                                                                                <li class="services-collaboration-item">
                                                                                                                                                <h3 class="services-collaboration-item-title">
                                            Fixed price                                        </h3>
                                                                                                                                                                        <ul class="services-collaboration-item-list">
                                                                                                                                                                                                                                                                                    <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            Clear requirements and strict deadlines                                                        </p>
                                                    </li>
                                                                                                                                                                                                                                                                                                                                                                                <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            Project with a limited scope of work                                                        </p>
                                                    </li>
                                                                                                                                                                                                                                                                                                                                                                                <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            We manage the entire product development lifecycle.                                                        </p>
                                                    </li>
                                                                                                                                                                        </ul>
                                                                                            </li>
                                                                                <li class="services-collaboration-item">
                                                                                                                                                <h3 class="services-collaboration-item-title">
                                            Managed team                                        </h3>
                                                                                                                                                                        <ul class="services-collaboration-item-list">
                                                                                                                                                                                                                                                                                    <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            Cloud Hawk provides professionals (or a whole team) with the required expertise                                                        </p>
                                                    </li>
                                                                                                                                                                                                                                                                                                                                                                                <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            We take responsibility for our specialists’ performance                                                        </p>
                                                    </li>
                                                                                                                                                                                                                                                                                                                                                                                <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            Specialists follow your corporate values and development processes                                                        </p>
                                                    </li>
                                                                                                                                                                        </ul>
                                                                                            </li>
                                                                                <li class="services-collaboration-item">
                                                                                                                                                <h3 class="services-collaboration-item-title">
                                            Managed product                                        </h3>
                                                                                                                                                                        <ul class="services-collaboration-item-list">
                                                                                                                                                                                                                                                                                    <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            Cloud Hawk holds a wide range of responsibility, designing and co-creating a product with you                                                        </p>
                                                    </li>
                                                                                                                                                                                                                                                                                                                                                                                <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            We provide the development team for your project                                                        </p>
                                                    </li>
                                                                                                                                                                                                                                                                                                                                                                                <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            We manage the entire product development life cycle                                                        </p>
                                                    </li>
                                                                                                                                                                        </ul>
                                                                                            </li>
                                                                                <li class="services-collaboration-item">
                                                                                                                                                <h3 class="services-collaboration-item-title">
                                            Managed service                                        </h3>
                                                                                                                                                                        <ul class="services-collaboration-item-list">
                                                                                                                                                                                                                                                                                    <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            Cloud Hawk helps you with just one or a number of services, such as design, development, QA, and DevOps                                                        </p>
                                                    </li>
                                                                                                                                                                                                                                                                                                                                                                                <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            We provide the required experts (or team of experts)                                                        </p>
                                                    </li>
                                                                                                                                                                                                                                                                                                                                                                                <li class="services-collaboration-item-list-item">
                                                        <p class="services-collaboration-item-list-item-title">
                                                            We fully manage the entire development process                                                        </p>
                                                    </li>
                                                                                                                                                                        </ul>
                                                                                            </li>
                                            </ul>
                            </div>
                            <div class="industries-single-services-cta">
                    <div class="industries-single-services-cta-container">
                        <div class="">
                            <h3 class="industries-single-services-cta-title">
                                Not sure which engagement model is best for meeting your business objectives?							</h3>
                            <p class="industries-single-services-cta-text">
                                Let us help you decide.							</p>
                        </div>
                                                                            <a class="industries-single-services-cta-link" href="/contacts/">
                                Get in touch							</a>
                                            </div>
                </div>
                    </div>
    </section>
    
    
    <section class="expertice-items" data-header="header-black" id="">
        <div class="expertice-items-container">
            <div class="container">
                                    <div class="expertice-items-block-title-container">
                        <h2 class="expertice-items-block-title">
                            <span>Expertise</span> and competencies						</h2>
                    </div>
    
                                <div class="expertice-items-tabs-container">
                    <ul class="expertice-items-title-list">
                                                    <li class="expertice-items-title" id="control-selected">
                                <h3>Technology excellence</h3>
                                <p class="expertice-items-text">
                                    Create and enhance your software product with powerful and cost-effective technology								</p>
                            </li>
                                                </ul>
                    <ul class="expertice-items-content-list">
                                                    <li class="expertice-items-content-item">
                                <ul class="expertice-items-content-item-list">
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/iot-services/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    IoT Services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/ai-development-services/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    AI development services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/data-science-services/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    Data science services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/machine-learning-development/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    Machine learning development												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/blockchain-software-development/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    Blockchain software development												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/rpa-solutions/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    Business-specific RPA services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/data-analytics-services/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    Data analytics services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/performance-testing-services/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    Performance testing services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/it-infrastructure-services/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    IT infrastructure services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/cybersecurity-services/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    Cybersecurity services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/ui-and-ux-design/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    UI/UX design services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/business-intelligence-services/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    Business intelligence services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/big-data-services/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    Big data services												</p>
                                            </a>
                                        </li>
                                                                            <li class="expertice-items-content-item-list-item">
                                            <a href="https://cloudhawktech.com/expertise/data-engineering-services/" class="expertice-items-content-list-item-link">
                                                <p>
                                                    Data engineering services												</p>
                                            </a>
                                        </li>
                                                                    </ul>
                            </li>
                                                </ul>
                </div>
                <div class="expertice-items-tabs-container-mobile">
                    <ul class="expertice-items-tabs-container-mobile-list">
                                                    <li class="expertice-items-tabs-container-mobile-item">
                                <h3 class="expertice-items-tabs-container-mobile-item-title">
                                    Technology excellence								</h3>
                                <p class="expertice-items-tabs-container-mobile-item-text">
                                    Create and enhance your software product with powerful and cost-effective technology								</p>
                                <ul class="expertice-items-tabs-container-mobile-item-list">
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/iot-services/">
                                                IoT Services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/ai-development-services/">
                                                AI development services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/data-science-services/">
                                                Data science services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/machine-learning-development/">
                                                Machine learning development											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/blockchain-software-development/">
                                                Blockchain software development											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/rpa-solutions/">
                                                Business-specific RPA services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/data-analytics-services/">
                                                Data analytics services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/performance-testing-services/">
                                                Performance testing services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/it-infrastructure-services/">
                                                IT infrastructure services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/cybersecurity-services/">
                                                Cybersecurity services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/ui-and-ux-design/">
                                                UI/UX design services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/business-intelligence-services/">
                                                Business intelligence services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/big-data-services/">
                                                Big data services											</a>
                                        </li>
                                                                            <li class="expertice-items-tabs-container-mobile-item-item">
                                            <a class="expertice-items-tabs-container-mobile-item-link" href="https://cloudhawktech.com/expertise/data-engineering-services/">
                                                Data engineering services											</a>
                                        </li>
                                                                    </ul>
                            </li>
                                                </ul>
                </div>
                            </div>
        </div>
    </section>
    
    
    <section class="case-studies" data-header="header-black" id="">
        <div class="container">
            <div class="case-studies-title-container">
                                    <h2 class="case-studies-title">
                        <span> Case studies</span> of solutions <br>
    we’ve delivered					</h2>
                                <div class="case-studies-swiper-navigation">
                    <div class="case-studies-button-prev"></div>
                    <div class="case-studies-button-next"></div>
                </div>
            </div>
                        <div class="case-studies-container">
                                    <div class="count-reviews-mobile-case"></div>
                    <div class="case-studies-pagination"></div>
                    <div class="case-studies-list swiper">
                        <div class="swiper-wrapper">
                            <div class="case-studies-item swiper-slide">
                                <a href="https://cloudhawktech.com/works/kpmg/" class="case-studies-item-link">
                                    <div class="case-studies-item-back" style="background-color: "></div>
                                    <h3 class="case-studies-item-title">
                                        Mobile communication solution										</h3>
                                                                                <ul class="case-studies-item-list">
                                                                                                <li class="case-studies-item-list-item">
                                                    <p class="case-studies-item-list-item-title">
                                                        Siri integration for speech-to-text input														</p>
                                                </li>
                                                                                                <li class="case-studies-item-list-item">
                                                    <p class="case-studies-item-list-item-title">
                                                        Image and audio attachments														</p>
                                                </li>
                                                                                                <li class="case-studies-item-list-item">
                                                    <p class="case-studies-item-list-item-title">
                                                        Conversation-optimized design with soundwave visualization														</p>
                                                </li>
                                                                                        </ul>
                                                                            <div class="case-studies-item-image-wrapper">
                                        <div class="case-studies-item-image-small">
                                            <img decoding="async" width="143" height="45" src="images/jn-1.svg" class="attachment-full size-full" alt="">											</div>
                                        <div class="case-studies-item-image-big">
                                            <img decoding="async" width="486" height="325" src="images/kpmg.webp" class="attachment-full size-full" alt="" srcset="images/kpmg.webp 486w, images/kpmg-300x201.webp 300w, images/kpmg-311x208.webp 311w, images/kpmg-288x193.webp 288w, images/kpmg-299x200.webp 299w, images/kpmg-328x219.webp 328w, images/kpmg-120x80.webp 120w, images/kpmg-374x250.webp 374w, images/kpmg-368x246.webp 368w, images/kpmg-260x174.webp 260w, images/kpmg-150x100.webp 150w, images/kpmg-20x13.webp 20w, images/kpmg-100x67.webp 100w" sizes="(max-width: 486px) 100vw, 486px">											</div>
                                    </div>
                                    <p class="case-studies-item-button">
                                        See full case study
                                    </p>
                                </a>
                            </div>
                                                        <div class="case-studies-item swiper-slide">
                                <a href="https://cloudhawktech.com/works/123-sourcing/" class="case-studies-item-link">
                                    <div class="case-studies-item-back" style="background-color: "></div>
                                    <h3 class="case-studies-item-title">
                                        Load planning system for a logistics company										</h3>
                                                                                <ul class="case-studies-item-list">
                                                                                                <li class="case-studies-item-list-item">
                                                    <p class="case-studies-item-list-item-title">
                                                        Production planning in minutes instead of hours														</p>
                                                </li>
                                                                                                <li class="case-studies-item-list-item">
                                                    <p class="case-studies-item-list-item-title">
                                                        Optimized shipping costs														</p>
                                                </li>
                                                                                                <li class="case-studies-item-list-item">
                                                    <p class="case-studies-item-list-item-title">
                                                        Minimized human errors														</p>
                                                </li>
                                                                                        </ul>
                                                                            <div class="case-studies-item-image-wrapper">
                                        <div class="case-studies-item-image-small">
                                            <img decoding="async" width="143" height="45" src="images/123-sourcing.svg" class="attachment-full size-full" alt="">											</div>
                                        <div class="case-studies-item-image-big">
                                            <img decoding="async" width="492" height="365" src="images/123-sourcing-1-1.webp" class="attachment-full size-full" alt="" srcset="images/123-sourcing-1-1.webp 492w, images/123-sourcing-1-1-300x223.webp 300w, images/123-sourcing-1-1-280x208.webp 280w, images/123-sourcing-1-1-270x200.webp 270w, images/123-sourcing-1-1-328x243.webp 328w, images/123-sourcing-1-1-120x90.webp 120w, images/123-sourcing-1-1-337x250.webp 337w, images/123-sourcing-1-1-368x273.webp 368w, images/123-sourcing-1-1-260x193.webp 260w, images/123-sourcing-1-1-135x100.webp 135w, images/123-sourcing-1-1-20x15.webp 20w, images/123-sourcing-1-1-100x74.webp 100w" sizes="(max-width: 492px) 100vw, 492px">											</div>
                                    </div>
                                    <p class="case-studies-item-button">
                                        See full case study
                                    </p>
                                </a>
                            </div>
                                                            <div class="case-studies-item swiper-slide">
                                    <a href="https://cloudhawktech.com/works/iot-fleet-management-for-rakwireless/" class="case-studies-item-link">
                                        <div class="case-studies-item-back" style="background-color: "></div>
                                        <h3 class="case-studies-item-title">
                                            Automated management of IoT networks										</h3>
                                                                                    <ul class="case-studies-item-list">
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Remote management of tens of thousands of IoT devices														</p>
                                                    </li>
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Over-the-air IoT software updates														</p>
                                                    </li>
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Status monitoring and issue resolution														</p>
                                                    </li>
                                                                                            </ul>
                                                                                <div class="case-studies-item-image-wrapper">
                                            <div class="case-studies-item-image-small">
                                                <img decoding="async" width="143" height="45" src="images/logo-1-1.svg" class="attachment-full size-full" alt="">											</div>
                                            <div class="case-studies-item-image-big">
                                                <img fetchpriority="high" decoding="async" width="486" height="325" src="images/wisdm_rak.webp" class="attachment-full size-full" alt="" srcset="images/wisdm_rak.webp 486w, images/wisdm_rak-300x201.webp 300w, images/wisdm_rak-311x208.webp 311w, images/wisdm_rak-288x193.webp 288w, images/wisdm_rak-299x200.webp 299w, images/wisdm_rak-328x219.webp 328w, images/wisdm_rak-120x80.webp 120w, images/wisdm_rak-374x250.webp 374w, images/wisdm_rak-368x246.webp 368w, images/wisdm_rak-260x174.webp 260w, images/wisdm_rak-150x100.webp 150w, images/wisdm_rak-20x13.webp 20w, images/wisdm_rak-100x67.webp 100w" sizes="(max-width: 486px) 100vw, 486px">											</div>
                                        </div>
                                        <p class="case-studies-item-button">
                                            See full case study
                                        </p>
                                    </a>
                                </div>
                                                            <div class="case-studies-item swiper-slide">
                                    <a href="https://cloudhawktech.com/works/ehr-integration/" class="case-studies-item-link">
                                        <div class="case-studies-item-back" style="background-color: "></div>
                                        <h3 class="case-studies-item-title">
                                            HIPAA-compliant app for digitized healthcare										</h3>
                                                                                    <ul class="case-studies-item-list">
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Convenient and quick scheduling and payments														</p>
                                                    </li>
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Real-time communication between patients and caregivers														</p>
                                                    </li>
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Patient monitoring and medical device integration														</p>
                                                    </li>
                                                                                            </ul>
                                                                                <div class="case-studies-item-image-wrapper">
                                            <div class="case-studies-item-image-small">
                                                <img decoding="async" width="143" height="45" src="images/logo6.svg" class="attachment-full size-full" alt="">											</div>
                                            <div class="case-studies-item-image-big">
                                                <img decoding="async" width="492" height="365" src="images/healthfully_ehr_integration-2.webp" class="attachment-full size-full" alt="" srcset="images/healthfully_ehr_integration-2.webp 492w, images/healthfully_ehr_integration-2-300x223.webp 300w, images/healthfully_ehr_integration-2-280x208.webp 280w, images/healthfully_ehr_integration-2-270x200.webp 270w, images/healthfully_ehr_integration-2-328x243.webp 328w, images/healthfully_ehr_integration-2-120x90.webp 120w, images/healthfully_ehr_integration-2-337x250.webp 337w, images/healthfully_ehr_integration-2-368x273.webp 368w, images/healthfully_ehr_integration-2-260x193.webp 260w, images/healthfully_ehr_integration-2-135x100.webp 135w, images/healthfully_ehr_integration-2-20x15.webp 20w, images/healthfully_ehr_integration-2-100x74.webp 100w" sizes="(max-width: 492px) 100vw, 492px">											</div>
                                        </div>
                                        <p class="case-studies-item-button">
                                            See full case study
                                        </p>
                                    </a>
                                </div>
                                                            <div class="case-studies-item swiper-slide">
                                    <a href="https://cloudhawktech.com/works/wealth-management-platform/" class="case-studies-item-link">
                                        <div class="case-studies-item-back" style="background-color: "></div>
                                        <h3 class="case-studies-item-title">
                                            Centralized wealth management software system										</h3>
                                                                                    <ul class="case-studies-item-list">
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Collection, processing, and visualization of financial data														</p>
                                                    </li>
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Opening and monitoring of investment accounts														</p>
                                                    </li>
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Billing operations and communication with clients														</p>
                                                    </li>
                                                                                            </ul>
                                                                                <div class="case-studies-item-image-wrapper">
                                            <div class="case-studies-item-image-small">
                                                <img decoding="async" width="143" height="45" src="images/logo-20-1.svg" class="attachment-full size-full" alt="">											</div>
                                            <div class="case-studies-item-image-big">
                                                <img decoding="async" width="492" height="365" src="images/lifeworks.webp" class="attachment-full size-full" alt="" srcset="images/lifeworks.webp 492w, images/lifeworks-300x223.webp 300w, images/lifeworks-280x208.webp 280w, images/lifeworks-270x200.webp 270w, images/lifeworks-328x243.webp 328w, images/lifeworks-120x90.webp 120w, images/lifeworks-337x250.webp 337w, images/lifeworks-368x273.webp 368w, images/lifeworks-260x193.webp 260w, images/lifeworks-135x100.webp 135w, images/lifeworks-20x15.webp 20w, images/lifeworks-100x74.webp 100w" sizes="(max-width: 492px) 100vw, 492px">											</div>
                                        </div>
                                        <p class="case-studies-item-button">
                                            See full case study
                                        </p>
                                    </a>
                                </div>
                                                            <div class="case-studies-item swiper-slide">
                                    <a href="https://cloudhawktech.com/works/truhoo/" class="case-studies-item-link">
                                        <div class="case-studies-item-back" style="background-color: "></div>
                                        <h3 class="case-studies-item-title">
                                            GDPR-compliant and SEO-friendly real estate platform										</h3>
                                                                                    <ul class="case-studies-item-list">
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Advanced filtering and localization														</p>
                                                    </li>
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Agent and client communication														</p>
                                                    </li>
                                                                                                    <li class="case-studies-item-list-item">
                                                        <p class="case-studies-item-list-item-title">
                                                            Fraud protection and resilient architecture														</p>
                                                    </li>
                                                                                            </ul>
                                                                                <div class="case-studies-item-image-wrapper">
                                            <div class="case-studies-item-image-small">
                                                <img decoding="async" width="143" height="45" src="images/logo5.svg" class="attachment-full size-full" alt="">											</div>
                                            <div class="case-studies-item-image-big">
                                                <img decoding="async" width="486" height="325" src="images/truhoo-1.webp" class="attachment-full size-full" alt="" srcset="images/truhoo-1.webp 486w, images/truhoo-1-300x201.webp 300w, images/truhoo-1-311x208.webp 311w, images/truhoo-1-288x193.webp 288w, images/truhoo-1-299x200.webp 299w, images/truhoo-1-328x219.webp 328w, images/truhoo-1-120x80.webp 120w, images/truhoo-1-374x250.webp 374w, images/truhoo-1-368x246.webp 368w, images/truhoo-1-260x174.webp 260w, images/truhoo-1-150x100.webp 150w, images/truhoo-1-20x13.webp 20w, images/truhoo-1-100x67.webp 100w" sizes="(max-width: 486px) 100vw, 486px">											</div>
                                        </div>
                                        <p class="case-studies-item-button">
                                            See full case study
                                        </p>
                                    </a>
                                </div>
                               
                                                    </div>
                    </div>
                    <div class="case-studies-swiper-navigation-mobile">
                        <div class="case-studies-button-prev-tablet"></div>
                        <div class="case-studies-button-next-tablet"></div>
                    </div>
                            </div>
                    </div>
    </section>
    
    
    <section class="faq" data-header="header-white" id="">
        <div class="faq-dots-container">
            <div class="faq-dots-wrapper">
                <div class="faq-dots-1"></div>
                <div class="faq-dots-2"></div>
                <div class="faq-dots-3"></div>
            </div>
        </div>
        <div class="container">
                            <div class="faq-container">
                    <span class="faq-title">FAQ</span>
                </div>
                                        <div class="faq-list">
                                            <div class="faq-item">
                            <div class="faq-question">
                                <h3 class="faq-question-title">
                                    What post-release support services do you offer?								</h3>
                                <div class="faq-question-image"></div>
                            </div>
                            <div class="faq-answer">
                                <div class="faq-answer-text">
                                    <p>
                                        </p><p>We have more than 10 years of experience developing successful healthcare software solutions and have developed our own strategy for delivering the highest value to clients within a limited timeframe. Our business analysts and project managers create a suitable environment for the medical software development process to run smoothly. When working on your project, we develop a product mindset to stay on the same page with you and make sure we’re always aligned with your business goals. After launching healthcare software products with us, our clients claim an increase in user satisfaction among employees and patients, higher revenue, and general improvements in the healthcare workflow.</p>
    <p>Apart from healthcare software development, we also provide healthcare consulting services. We can help you choose the right third-party software solutions to integrate with or the right medical device providers to work with. We can also help you decide on functional modules to expand your existing healthcare system. Cloud Hawk isn’t only your healthcare technology partner; we aim at becoming your business partner. By suggesting technological and business improvements during our cooperation, we can help you save money while developing quality healthcare software. Our team’s goal is to help your business grow, your medical staff have more time for their core responsibilities, and your patients improve their lifestyles.</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                                            <div class="faq-item">
                            <div class="faq-question">
                                <h3 class="faq-question-title">
                                    What are your SRE (Site Reliability Engineering) services?								</h3>
                                <div class="faq-question-image"></div>
                            </div>
                            <div class="faq-answer">
                                <div class="faq-answer-text">
                                    <p>
                                        </p><p>We elicit your detailed project requirements during several rounds of negotiations and pay particular attention to PHI security and regional healthcare compliance requirements, such as HIPAA. The next step is composing your healthcare software development team with domain experts who can not only execute tasks but also offer solutions and provide useful feedback if you’re hesitant about certain functionality or technical implementations. During the healthcare software development process, we rely on industry-standard services and solutions such as HIPAA-compliant AWS cloud services to ensure we build a solution that meets the needs of your healthcare practice. Our go-to strategy for medical software development is to launch solutions that won’t need costly workarounds in the future.</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                                            <div class="faq-item">
                            <div class="faq-question">
                                <h3 class="faq-question-title">
                                    How can you help with cloud migration?								</h3>
                                <div class="faq-question-image"></div>
                            </div>
                            <div class="faq-answer">
                                <div class="faq-answer-text">
                                    <p>
                                        </p><p>Our team specializes in enhancing existing healthcare systems as well as developing healthcare software from scratch. If you need to enhance your current EHR or telehealth system with additional functional modules or integrate medical devices with any of your current healthcare systems, Cloud Hawk is the right choice. We can even help you build a healthcare digitalization roadmap if you aren’t sure what digital solutions you need to get started or to continue on your business digitalization journey.  </p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                                            <div class="faq-item">
                            <div class="faq-question">
                                <h3 class="faq-question-title">
                                    How can you help with data migration?								</h3>
                                <div class="faq-question-image"></div>
                            </div>
                            <div class="faq-answer">
                                <div class="faq-answer-text">
                                    <p>
                                        </p><p>We have more than a hundred experts in the healthcare field. Most are software architects, business analysts, project managers, and healthcare software developers who have worked on multiple healthcare projects and have a deep understanding of the market. They can offer you a unique perspective and solutions to solve your operational and technical issues, helping your healthcare business thrive. Our software development specialists constantly grow their expertise and acquire certifications to improve their quality of work.</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                                            <div class="faq-item">
                            <div class="faq-question">
                                <h3 class="faq-question-title">
                                    Do you offer third-party integration services?								</h3>
                                <div class="faq-question-image"></div>
                            </div>
                            <div class="faq-answer">
                                <div class="faq-answer-text">
                                    <p>
                                        </p><p>We have relevant medical software development expertise and many years of experience in developing and integrating EHR/EMR systems, building telehealth and telecommunications platforms, creating medical imaging systems, and integrating with IoMT devices. When delivering diverse healthcare software solutions to our healthcare clients worldwide, we focus on bringing the highest value rather than merely on executing tasks.</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                                    </div>
                    </div>
    </section>
    
    
        <section class="contact-us" data-header="header-black" id="contact_us">
            <div class="contact-us-container">
                <div class="container">
                    <div class="contact-us-wrapper">
                                                    <div class="contact-us-form-wrapper">
                                <div class="contact-us-form-container">
                                    <h3 class="contact-us-form-title">
                                        Collaborate with Cloud Hawk                                    </h3>
                                    
    <div class="wpcf7 no-js" id="wpcf7-f228-o1" lang="en-US" dir="ltr">
    <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
    <form action="/services/#wpcf7-f228-o1" method="post" class="wpcf7-form init wpcf7-acceptance-as-validation" aria-label="Contact form" enctype="multipart/form-data" novalidate="novalidate" data-status="init">
    <div style="display: none;">
    <input type="hidden" name="_wpcf7" value="228">
    <input type="hidden" name="_wpcf7_version" value="5.9.8">
    <input type="hidden" name="_wpcf7_locale" value="en_US">
    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f228-o1">
    <input type="hidden" name="_wpcf7_container_post" value="0">
    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
    <input type="hidden" name="_wpcf7_recaptcha_response" value="">
    </div>
    <div class="contact-form-info-wrapper">  
    <div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="fullName"><input size="40" maxlength="1000" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" aria-required="true" aria-invalid="false" placeholder="Full name" value="" type="text" name="fullName"></span><label for="fullName">Full name<b style="color:#FF6300">*</b></label></div>
    <div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" maxlength="100" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email input-text" aria-required="true" aria-invalid="false" placeholder="Email address" value="" type="email" name="your-email"></span><label for="your-email">Email address<b style="color:#FF6300">*</b></label></div>
    <div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="orgName"><input size="40" maxlength="1000" class="wpcf7-form-control wpcf7-text input-text" aria-invalid="false" placeholder="Company name" value="" type="text" name="orgName"></span><label for="orgName">Company name</label></div>
    <div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="your-phone"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-tel wpcf7-text wpcf7-validates-as-tel input-text" aria-invalid="false" placeholder="Phone number" value="" type="tel" name="your-phone"></span><label for="your-phone">Phone number</label></div>
    </div>
    <div class="contact-form-text-area-wrapper js-input">
    <div><span class="wpcf7-form-control-wrap" data-name="details"><input size="40" maxlength="1000" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" aria-required="true" aria-invalid="false" placeholder="About your project" value="" type="text" name="details"></span><label for="details"> About your project <b style="color:#FF6300">*</b></label></div>
    </div>
    <div class="contact-form-file-wrapper">
    <label for="wpcf7-file">Attach a file</label>
    <p class="contact-form-file-text">Please upload a file with one of the following extensions: .pdf, .docx, .odt, .ods, .ppt/x, .xls/x, .rtf, .txt</p>
    <div class="contact-form-file-info-wrapper"><p class="contact-form-file-info-wrapper-title">Name_of_file.pdf</p>
        <p class="contact-form-file-info-wrapper-weight">10.53 MB</p> <span class="contact-form-file-info-wrapper-button-close"></span></div>
    <span class="wpcf7-form-control-wrap" data-name="attach-file"><input size="40" class="wpcf7-form-control wpcf7-file" accept=".pdf,.docx,.odt,.ods,.ppt,.pptx,.xls,.xlsx,.rtf,.txt" aria-invalid="false" type="file" name="attach-file"></span>
    </div>
    <div class="contact-form-checkbox-wrapper">
    <div class="contact-form-acceptance-container">
    <span class="wpcf7-form-control-wrap" data-name="privacyPolicyAccepted"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><label><input type="checkbox" name="privacyPolicyAccepted" value="1" aria-invalid="false"><span class="wpcf7-list-item-label"><span class="contact-form-acceptance-label">I have read <a href="/privacy-notice/" target="_blank">Privacy Notice</a><b style="color:#FF6300">*</b></span></span></label></span></span></span>
    </div>
    </div>
    <div class="contact-form-additional-privacy-container checkbox-js"><span class="wpcf7-form-control-wrap" data-name="receiveEmails"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><label><input type="checkbox" name="receiveEmails[]" value="I agree to receive marketing materials about news, events, and proposals from Cloud Hawk"><span class="wpcf7-list-item-label">I agree to receive marketing materials about news, events, and proposals from Cloud Hawk</span></label></span></span></span></div>
    <div class="contact-form-recaptcha-container">
    <span class="wpcf7-form-control-wrap recaptcha" data-name="recaptcha"><span data-sitekey="6LcO6mAnAAAAADWhPb8a_RyRt_AHuYgoX6iCpgIP" class="wpcf7-form-control wpcf7-recaptcha g-recaptcha"></span>
    <noscript>
    <div class="grecaptcha-noscript">
        <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LcO6mAnAAAAADWhPb8a_RyRt_AHuYgoX6iCpgIP" frameborder="0" scrolling="no" width="310" height="430">
        </iframe>
        <textarea name="g-recaptcha-response" rows="3" cols="40" placeholder="reCaptcha Response Here">
        </textarea>
    </div>
    </noscript>
    </span>
    </div>
    <input class="wpcf7-form-control wpcf7-hidden path-history" value="" type="hidden" name="path-history">
    <input class="wpcf7-form-control wpcf7-submit has-spinner contact-form-button" type="submit" value="Send message"><div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>
    </div>
                                </div>
                                                                <div class="contact-us-thanks">
                                    <img decoding="async" src="images/success.svg" alt="success" width="110" height="110">
                                    <p class="contact-us-thanks-title">
                                        got it!                                    </p>
                                    <p class="contact-us-thanks-text">
                                        Keep an eye on your inbox. We’ll be in touch shortly<br>
    Meanwhile, you can explore our hottest case studies and read<br>
    client feedback on Clutch.                                    </p>
                                                                            <a href="https://clutch.co/profile/Cloud Hawk#reviews" class="contact-us-thanks-button" target="_blank">
                                            See Cloud Hawk reviews                                        </a>
                                                                    </div>
                                <div class="contact-us-error">
                                    <img decoding="async" src="images/error.svg" alt="error" width="110" height="110">
                                    <p class="contact-us-error-title">opps!</p>
                                    <p class="contact-us-error-text">
                                        Oops, the form hasn’t been submitted. Please, try again
                                    </p>
                                    <a href="#" class="contact-us-error-button">Retry</a>
                                </div>
                            </div>
    
                            <div class="contact-us-info-wrapper">
                                <div class="contact-us-info-brief-wrapper">
                                    <p class="contact-us-info-brief-title">Cloud Hawk in brief</p>
                                    <ul class="contact-us-info-brief-list">
                                        <li class="contact-us-info-brief-item">
                                            <span class="contact-us-info-brief-item-title">6+ </span>
                                            <p class="contact-us-info-brief-item-text">
                                                years of experience </p>
                                        </li>
                                        <li class="contact-us-info-brief-item">
                                            <span class="contact-us-info-brief-item-title">500+</span>
                                            <p class="contact-us-info-brief-item-text">
                                                IT experts aboard </p>
                                        </li>
                                        <li class="contact-us-info-brief-item">
                                            <span class="contact-us-info-brief-item-title">35+</span>
                                            <p class="contact-us-info-brief-item-text">
                                                active clients </p>
                                        </li>
                                    </ul>
                                    <ul class="contact-us-info-brief-logo-list">
                                        <li class="contact-us-info-brief-logo-item logo-grayscale">
                                            <figure>
                                                <img loading="lazy" decoding="async" width="141" height="60"
                                                    src="images/kpmg.svg" class="attachment-full size-full" alt="">
                                            </figure>
                                        </li>
                                        <li class="contact-us-info-brief-logo-item logo-grayscale">
                                            <figure>
                                                <img loading="lazy" decoding="async" width="200" height="50"
                                                    src="images/bosch.svg" class="attachment-full size-full" alt="">
                                            </figure>
                                        </li>
                                        <li class="contact-us-info-brief-logo-item logo-grayscale">
                                            <figure>
                                                <img loading="lazy" decoding="async" width="280" height="60"
                                                    src="images/toyota.svg" class="attachment-full size-full" alt="">
                                            </figure>
                                        </li>
                                    </ul>
                                </div>
                                <div class="contact-us-info-content allow-copy">
                                    <ul class="contact-us-info-content-list">
                                        <li class="contact-us-info-content-item">
                                            <p class="contact-us-info-content-item-title">
                                                Project inquiries </p>
                                            <div class="contact-us-info-content-item-link-wrapper">
                                                <a class="contact-us-info-content-item-link email-text-for-copy"
                                                    href="mailto:hello@Cloud Hawk.com">info@cloudhawktech.com </a>
                                                <div class="contact-us-info-content-item-link-copy">
                                                    <button class="email-text-copy-btn"></button>
                                                    <span class="email-copy-message">Copied</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="contact-us-info-content-item">
                                            <p class="contact-us-info-content-item-title">
                                                Careers </p>
                                            <div class="contact-us-info-content-item-link-wrapper">
                                                <a class="contact-us-info-content-item-link email-text-for-copy"
                                                    href="mailto:careers@Cloud Hawk.com">careers@cloudhawktech.com </a>
                                                <div class="contact-us-info-content-item-link-copy">
                                                    <button class="email-text-copy-btn"></button>
                                                    <span class="email-copy-message">Copied</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="contact-us-info-content-item">
                                            <p class="contact-us-info-content-item-title">
                                                Phone number </p>
                                            <a class="contact-us-info-content-item-link" href="tel:+44 788 4809964">+44 788 4809964</a>
                                        </li>
                                    </ul>
                                    <div class="contact-us-info-content-offices-wrapper">
                                        <p class="contact-us-info-content-offices-title">
                                            Our offices </p>
                                        <ul class="contact-us-info-content-offices-list">
                                            <li class="contact-us-info-content-offices-item">
                                                <div class="contact-us-info-content-offices-item-title-wrapper">
                                                    <img loading="lazy" decoding="async" width="24" height="16"
                                                        src="images/UAE.webp" class="attachment-full size-full"
                                                        alt="">
                                                    <p class="contact-us-info-content-offices-item-title">
                                                        UAE</p>
                                                </div>
                                                <div class="contact-us-info-content-offices-item-text">
                                                    <div class="contact-us-info-content-offices-item-text-title">
                                                        Al.khaleej building Deira Dubai </div>
                                                </div>
                                            </li>
                                            <li class="contact-us-info-content-offices-item">
                                                <div class="contact-us-info-content-offices-item-title-wrapper">
                                                    <img loading="lazy" decoding="async" width="24" height="16"
                                                        src="images/UK.webp" class="attachment-full size-full"
                                                        alt="">
                                                    <p class="contact-us-info-content-offices-item-title">
                                                        UK </p>
                                                </div>
                                                <div class="contact-us-info-content-offices-item-text">
                                                    <div class="contact-us-info-content-offices-item-text-title">
                                                        SO140DB Southampton, United Kingdom </div>
                                                </div>
                                            </li>
                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
</DefaultLayout>