---
import DefaultLayout from '../layouts/layout.astro';


---
<title>An end-to-end real estate platform | Cloud Hawk</title>

<DefaultLayout>
    
	<section class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs-list">
				<!-- Breadcrumb NavXT 7.3.1 -->
<li class="breadcrumbs-item"><span itemprop="itemListElement"><a class="breadcrumbs-link" property="item" typeof="WebPage" title="Cloud Hawk" href="https://cloudhawktech.com"><span property="name">Cloud Hawk</span></a><meta property="position" content="1"></span></li><li class="breadcrumbs-item"><span itemprop="itemListElement"><a class="breadcrumbs-link" property="item" typeof="WebPage" title="Works" href="https://cloudhawktech.com/works/"><span property="name">Works</span></a><meta property="position" content="2"></span></li><li class="breadcrumbs-item post post-works current-item"><span itemprop="itemListElement"><span property="name" itemprop="itemListElement">Truhoo </span><meta property="url" content="https://cloudhawktech.com/works/truhoo/"><meta property="position" content="3"></span></li>			</ul>
		</div>
	</section>
	<section class="works-single-first-screen" data-header="header-transparent-white" id="">
		<div class="container">
			<div class="works-single-first-screen-container">
				<div class="works-single-first-screen-title-container">
											<h1 class="works-single-first-screen-title">
							 <span>Truhoo:</span>  An all-in-one real estate platform						</h1>
																<p class="works-single-first-screen-text">
							Discover how we helped a Spanish entrepreneur develop a multiplatform, SEO-friendly, and GDPR-compliant real estate solution with advanced functionality and a scalable technology base. 						</p>
									</div>
									<div class="works-single-first-screen-benefits">
						<ul class="works-single-first-screen-benefits-list">
															<li class="works-single-first-screen-benefits-item">
									<p class="works-single-first-screen-benefits-item-title">
										Industry									</p>
									<p class="works-single-first-screen-benefits-item-text">
										Real estate									</p>
								</li>
															<li class="works-single-first-screen-benefits-item">
									<p class="works-single-first-screen-benefits-item-title">
										Country									</p>
									<p class="works-single-first-screen-benefits-item-text">
										Spain									</p>
								</li>
															<li class="works-single-first-screen-benefits-item">
									<p class="works-single-first-screen-benefits-item-title">
										Team size									</p>
									<p class="works-single-first-screen-benefits-item-text">
										15+									</p>
								</li>
															<li class="works-single-first-screen-benefits-item">
									<p class="works-single-first-screen-benefits-item-title">
										Collaboration									</p>
									<p class="works-single-first-screen-benefits-item-text">
										September 2019 – April 2022									</p>
								</li>
													</ul>
					</div>
										</div>
	</div></section>


    <section data-header="header-white" class="works-single-about" id="">
        <div class="container">
            <div class="works-single-about-container">
                <div class="works-single-about-container-text">
                                            <h2 class="works-single-about-title">
                            About the client<br>
                        </h2>
                                                                <div class="works-single-about-text">
                            <p><span style="font-weight: 400;">Our client is a successful entrepreneur who started a new project for the Spanish real estate market, attained investment, and chose Cloud Hawk to implement the concept.</span></p>
                        </div>
                    
                </div>
                <div class="works-single-about-container-image-background" style="background-color: #fcfbfc">
                    <figure>
                        <img fetchpriority="high" decoding="async" width="400" height="206" src="images/truhoo-3.webp" class="attachment-full size-full" alt="" srcset="images/truhoo-3.webp 400w, images/truhoo-3-300x155.webp 300w, images/truhoo-3-336x173.webp 336w, images/truhoo-3-288x148.webp 288w, images/truhoo-3-368x190.webp 368w, images/truhoo-3-328x169.webp 328w, images/truhoo-3-120x62.webp 120w, images/truhoo-3-260x134.webp 260w, images/truhoo-3-177x91.webp 177w, images/truhoo-3-20x10.webp 20w, images/truhoo-3-100x52.webp 100w" sizes="(max-width: 400px) 100vw, 400px">                    </figure>
                </div>
            </div>
                            <div class="works-single-about-video-reviews">
                    <p class="works-single-about-video-reviews-mobile-title">
                        Learn more about our client’s experience working with us                    </p>
                    <div class="works-single-about-video-reviews-image-container">
                        <a class="works-single-about-video-reviews-link" href="#video-1" data-fslightbox="lightbox" data-class="fslightbox-source">
                            <div class="works-single-about-video-reviews-image">
                                <figure class="works-single-about-video-reviews-image-mobile">
                                    <img decoding="async" width="1200" height="600" src="images/reviews.webp" class="attachment-full size-full" alt="" srcset="images/reviews.webp 1200w, images/reviews-300x150.webp 300w, images/reviews-1024x512.webp 1024w, images/reviews-768x384.webp 768w, images/reviews-336x168.webp 336w, images/reviews-288x144.webp 288w, images/reviews-368x184.webp 368w, images/reviews-328x164.webp 328w, images/reviews-120x60.webp 120w, images/reviews-500x250.webp 500w, images/reviews-260x130.webp 260w, images/reviews-688x344.webp 688w, images/reviews-732x366.webp 732w, images/reviews-177x89.webp 177w, images/reviews-20x10.webp 20w, images/reviews-100x50.webp 100w" sizes="(max-width: 1200px) 100vw, 1200px">                                </figure>
                                <figure class="works-single-about-video-reviews-image-laptop">
                                    <img decoding="async" width="1200" height="600" src="images/reviews.webp" class="attachment-full size-full" alt="" srcset="images/reviews.webp 1200w, images/reviews-300x150.webp 300w, images/reviews-1024x512.webp 1024w, images/reviews-768x384.webp 768w, images/reviews-336x168.webp 336w, images/reviews-288x144.webp 288w, images/reviews-368x184.webp 368w, images/reviews-328x164.webp 328w, images/reviews-120x60.webp 120w, images/reviews-500x250.webp 500w, images/reviews-260x130.webp 260w, images/reviews-688x344.webp 688w, images/reviews-732x366.webp 732w, images/reviews-177x89.webp 177w, images/reviews-20x10.webp 20w, images/reviews-100x50.webp 100w" sizes="(max-width: 1200px) 100vw, 1200px">                                </figure>
                            </div>
                            <div class="works-single-about-video-reviews-image-text-container">
                                <span class="works-single-about-video-reviews-play-button"></span>
                                <div class="works-single-about-video-reviews-image-text-wrapper">
                                    <p class="works-single-about-video-reviews-image-title">
                                        Learn more about our client’s experience working with us                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="works-single-about-video-reviews-ifream">
                        <iframe src="https://www.youtube.com/embed/6HHoy_OsPMM" id="video-1" class="fslightbox-source" frameborder="0" width="1008px" height="576px" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                    </div>
                </div>
                    </div>
    </section>




    <section class="works-single-text-block" data-header="header-white" id="">
        <div class="container">
            <div class="works-single-text-block-container">
                <div class="works-single-text-block-wrapper">
                    <div class="works-single-text-block-left-container">
                                                    <h2 class="works-single-text-block-title">
                                <span>Business</span> context                            </h2>
                                            </div>
                                            <div class="works-single-text-block-right-container text-editor-styles">
                            <p><span style="font-weight: 400;">Alongside ensuring GDPR compliance for the European market and optimizing search engine visibility to achieve organic growth of the user base, our objectives for this project were to:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">elicit requirements and identify possible risks for the multiplatform real estate solution</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">build a solution with a scalable and fault-tolerant architecture that meets project requirements, constraints, and market peculiarities</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">implement competitive functionality such as 3D tours, advanced property search, multi-language support, and more</span></li>
</ul>
                        </div>
                                    </div>
            </div>
        </div>
    </section>


    <section class="works-single-value" data-header="header-white" id="">
        <div class="container">
            <div class="works-single-value-container">
                <div class="works-single-value-title-container">
                                            <h2 class="works-single-value-title">
                            <span>Value </span>delivered                        </h2>
                                    </div>
                <div class="works-single-value-content-container">
                                        <div class="works-single-value-item-container">
                                                    <div class="works-single-value-item-now">
                            <p class="works-single-value-item-title">
                                The result of our cooperation with Truhoo is a full-functioning product that is:                            </p>
                                                            <ul class="works-single-value-item-list">
                                                                            <li class="works-single-value-list-item">
                                            <p class="works-single-value-list-item-title">
                                                filled with functionality according to market needs                                            </p>
                                        </li>
                                                                            <li class="works-single-value-list-item">
                                            <p class="works-single-value-list-item-title">
                                                more user-friendly and faster than competitors’ platforms                                            </p>
                                        </li>
                                                                            <li class="works-single-value-list-item">
                                            <p class="works-single-value-list-item-title">
                                                in full legal compliance and protects users from scams                                            </p>
                                        </li>
                                                                            <li class="works-single-value-list-item">
                                            <p class="works-single-value-list-item-title">
                                                ready for marketing activities and SEO-friendly                                            </p>
                                        </li>
                                                                    </ul>
                                                    </div>
                        </div>
                </div>
            </div>
        </div>
    </section>


	<section class="works-single-solution" data-header="header-white" id="">
		<div class="container">
			<div class="works-single-solution-dots-wrapper">
				<div class="works-single-solution-dots-1"></div>
				<div class="works-single-solution-dots-2"></div>
				<div class="works-single-solution-dots-3"></div>
				<div class="works-single-solution-dots-4"></div>
			</div>
			<div class="works-single-solution-wrapper">
							<div class="works-single-solution-title-container">
					<h2 class="works-single-solution-title">
						<span>Solution</span> overview					</h2>
				</div>
										<ul class="works-single-solution-list">
											<li class="works-single-solution-item">
							<div class="works-single-solution-item-text text-editor-styles">
								<h3>Conducting discovery analysis</h3>
<p><span style="font-weight: 400;">To set the development direction with end users’ needs and market trends in mind, we:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">elicited and prioritized requirements</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">conducted competitor analysis of top real estate platforms</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">consulted with a real estate agent as a subject matter expert</span></li>
</ul>
							</div>
						</li>
											<li class="works-single-solution-item">
							<div class="works-single-solution-item-text text-editor-styles">
								<h3>Designing the solution architecture</h3>
<p><span style="font-weight: 400;">At the client’s request, we developed a secure, cloud-based, and scalable solution with:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">a modular microservices architecture and cost-efficient infrastructure</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">the ability to process and store huge volumes of media data with AWS Lambda </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">out-of-the-box localization support for all system components</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">a fault-tolerant key–value store managed by AWS for temporary data like access tokens and request counters</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">integration with third-party services for real estate agency background checks, a 3D tour feature, mapping, and payments </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">centralized logging and monitoring of hardware, application, and business metrics for further analysis</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">a single entry point for any type of client (web, iOS, Android)</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">reusable REST API endpoints for any type of client</span></li>
</ul>
							</div>
						</li>
											<li class="works-single-solution-item">
							<div class="works-single-solution-item-text text-editor-styles">
								<h3>Conducting search engine optimization</h3>
<p><span style="font-weight: 400;">Our client wanted to ensure a fast influx of users to the platform. We followed recommendations from an SEO agency and implemented:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><b>Angular Universal</b><span style="font-weight: 400;">,</span> <span style="font-weight: 400;">as it allows for uploading page content on the server side so that an SEO bot can see it</span></li>
<li style="font-weight: 400;" aria-level="1"><b>a URL building approach </b><span style="font-weight: 400;">to avoid query parameters in URLs while using search filters </span></li>
<li style="font-weight: 400;" aria-level="1"><b>a URL parsing mechanism</b><span style="font-weight: 400;"> to implement the required type of URLs </span></li>
<li style="font-weight: 400;" aria-level="1"><b>Open Graph meta tags </b><span style="font-weight: 400;">to automatically represent an image and description while sharing links</span></li>
<li style="font-weight: 400;" aria-level="1"><b>a</b> <b>parsing mechanism </b><span style="font-weight: 400;">that, in response to receiving the robots.txt file, sees pages that are not to be indexed and puts the noindex tag in them </span></li>
<li style="font-weight: 400;" aria-level="1"><b>a dynamic XML sitemap</b><span style="font-weight: 400;"> to properly reflect the state of the site for search engines</span></li>
</ul>
							</div>
						</li>
											<li class="works-single-solution-item">
							<div class="works-single-solution-item-text text-editor-styles">
								<h3>Delivering competitive functionality</h3>
<p><span style="font-weight: 400;">The product includes the following features:</span></p>
<ul>
<li aria-level="1"><b>Streamlined UI/UX. </b><span style="font-weight: 400;">We reduced clicks by simplifying and shortening the user flow and ensured a consistent brand identity and user experience across web and mobile versions.</span></li>
</ul>
<ul>
<li style="font-weight: 400;" aria-level="1"><b>3D tours. </b><span style="font-weight: 400;">Truhoo 3D tours display floor plans and 3D property models. Users can record virtual tours with audio narration to give context to potential buyers and tenants.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Advanced property search.</b><span style="font-weight: 400;"> Easy-to-configure search allows users to apply over 50 filters that consider characteristics of a property and its surrounding environment.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Optimized media service.</b><span style="font-weight: 400;"> The platform is capable of simultaneously uploading up to 50 images each up to 20MB in size for any real estate listing via an optimized media service.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Protection from scams. </b><span style="font-weight: 400;">We implemented mechanisms to validate every agency before registering it on the platform. Cadastral numbers are also used to ensure information accuracy. </span></li>
<li style="font-weight: 400;" aria-level="1"><b>Multi-language support.</b><span style="font-weight: 400;"> Spanish- and English-speaking users have access to all information in their native language, which simplifies the process of buying, selling, and renting properties.</span></li>
</ul>
							</div>
						</li>
											<li class="works-single-solution-item">
							<div class="works-single-solution-item-text text-editor-styles">
								<h3>Ensuring GDPR compliance</h3>
<p><span style="font-weight: 400;">We ensured GDPR compliance for the EU market.</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">We implemented active consent for the Terms of Service and Privacy Policy when registering, and re-consent if terms are changed.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">All legal documents have versioning and can be edited from the admin panel.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">The Terms of Service, Privacy Policy, Listings Policy, and Cookie Policy are published on the website and available to print or save as PDF files.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Users can subscribe to and unsubscribe from commercial communications.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Users can request their accounts be removed.</span></li>
</ul>
							</div>
						</li>
									</ul>
					</div>
		</div>
	</section>


	<section class="cta-orange-bg-full-width" data-header="header-white" id="">
		<div class="cta-orange-bg-full-width-container">
			<div class="">
									<h3 class="cta-orange-bg-full-width-title">
						WIN THE COMPETITION WITH A COMPREHENSIVE REAL ESTATE PLATFORM					</h3>
													<p class="cta-orange-bg-full-width-text">
						Cloud Hawk will help your business build a scalable product capable of dominating the market with top-notch functionality and a reliable technology base<br>
					</p>
							</div>
							<a class="cta-orange-bg-full-width-link" href="/contacts/">
					Book a consultation				</a>
					</div>
	</section>


	<section class="works-single-projects" data-header="header-black" id="">
		<div class="works-single-projects-container">
			<div class="container">
									<div class="works-single-projects-title-container">
						<h2 class="works-single-projects-title">
							More projects 						</h2>
					</div>
													<div class="works-single-projects-list-container">
						<ul class="works-single-projects-list">
															<li class="works-single-projects-item">
									<a class="works-single-projects-item-link" href="https://cloudhawktech.com/works/kpmg/">
										<div class="works-single-projects-item-image-container">
											<img decoding="async" width="328" height="266" src="images/kpmg-2-1.webp" class="attachment-cases3_block size-cases3_block" alt="" srcset="images/kpmg-2-1.webp 328w, images/kpmg-2-1-300x243.webp 300w, images/kpmg-2-1-256x208.webp 256w, images/kpmg-2-1-247x200.webp 247w, images/kpmg-2-1-111x90.webp 111w, images/kpmg-2-1-308x250.webp 308w, images/kpmg-2-1-260x211.webp 260w, images/kpmg-2-1-123x100.webp 123w, images/kpmg-2-1-20x16.webp 20w, images/kpmg-2-1-100x81.webp 100w" sizes="(max-width: 328px) 100vw, 328px">										</div>
										<h3 class="works-single-projects-item-title">
											WisDM 										</h3>
										<p class="works-single-projects-item-text">
											A SaaS device management platform that simplifies setup and maintenance of large IoT networks<br>
										</p>
									</a>
								</li>
															<li class="works-single-projects-item">
									<a class="works-single-projects-item-link" href="https://cloudhawktech.com/works/baasintegration/">
										<div class="works-single-projects-item-image-container">
											<img decoding="async" width="328" height="266" src="images/baas-for-a-wealth-management-platform.png" class="attachment-cases3_block size-cases3_block" alt="" srcset="images/baas-for-a-wealth-management-platform.png 328w, images/baas-for-a-wealth-management-platform-300x243.png 300w, images/baas-for-a-wealth-management-platform-256x208.png 256w, images/baas-for-a-wealth-management-platform-247x200.png 247w, images/baas-for-a-wealth-management-platform-111x90.png 111w, images/baas-for-a-wealth-management-platform-308x250.png 308w, images/baas-for-a-wealth-management-platform-260x211.png 260w, images/baas-for-a-wealth-management-platform-123x100.png 123w, images/baas-for-a-wealth-management-platform-20x16.png 20w, images/baas-for-a-wealth-management-platform-100x81.png 100w" sizes="(max-width: 328px) 100vw, 328px">										</div>
										<h3 class="works-single-projects-item-title">
											BaaS for a wealth management platform										</h3>
										<p class="works-single-projects-item-text">
											A user-friendly and scalable wealth management platform with digital banking functionality<br>
										</p>
									</a>
								</li>
															<li class="works-single-projects-item">
									<a class="works-single-projects-item-link" href="https://cloudhawktech.com/works/conscious-energy-consumption/">
										<div class="works-single-projects-item-image-container">
											<img decoding="async" width="328" height="266" src="images/stromee.png" class="attachment-cases3_block size-cases3_block" alt="" srcset="images/stromee.png 328w, images/stromee-300x243.png 300w, images/stromee-256x208.png 256w, images/stromee-247x200.png 247w, images/stromee-111x90.png 111w, images/stromee-308x250.png 308w, images/stromee-260x211.png 260w, images/stromee-123x100.png 123w, images/stromee-20x16.png 20w, images/stromee-100x81.png 100w" sizes="(max-width: 328px) 100vw, 328px">										</div>
										<h3 class="works-single-projects-item-title">
											Energy consumption management system										</h3>
										<p class="works-single-projects-item-text">
											An application for energy consumption monitoring										</p>
									</a>
								</li>
													</ul>
					</div>
							</div>
		</div>
	</section>
</DefaultLayout>