---
import DefaultLayout from '../layouts/layout.astro';


---
<title>UI/UX design services | Cloud Hawk</title>

<DefaultLayout>

	<section class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs-list">
				<!-- Breadcrumb NavXT 7.3.1 -->
<li class="breadcrumbs-item"><span itemprop="itemListElement"><a class="breadcrumbs-link" property="item" typeof="WebPage" title="Cloud Hawk" href="https://cloudhawktech.com"><span property="name">Cloud Hawk</span></a><meta property="position" content="1"></span></li><li class="breadcrumbs-item"><span itemprop="itemListElement"><a class="breadcrumbs-link" property="item" typeof="WebPage" title="Expertises" href="https://cloudhawktech.com/expertise/"><span property="name">Expertises</span></a><meta property="position" content="2"></span></li><li class="breadcrumbs-item post post-expertise current-item"><span itemprop="itemListElement"><span property="name" itemprop="itemListElement">UI/UX design services</span><meta property="url" content="https://cloudhawktech.com/expertise/ui-and-ux-design/"><meta property="position" content="3"></span></li>			</ul>
		</div>
	</section>
	<section class="expertice-child-first-screen" data-header="header-transparent-white" id="">
		<div class="container">
			<div class="expertice-child-first-screen-container">
				<div class="expertice-child-first-screen-title-container">
											<h1 class="expertice-child-first-screen-title">
							<span>UI/UX design services</span> <br>
						</h1>
																<p class="expertice-child-first-screen-text">
							With Cloud Hawk, you can build innovative and adaptive web and mobile apps as well as complex cross-platform enterprise solutions with multiple user roles. <br>
						</p>
									</div>
									<ul class="expertice-child-first-screen-benefits-list">
													<li class="expertice-child-first-screen-benefits-item">
								<img decoding="async" width="40" height="40" src="images/group-218-2.svg" class="attachment-full size-full" alt="">								<p class="expertice-child-first-screen-benefits-item-text">
									Understand target audience needs and pain points with in-depth user behavior analysis <br>
								</p>
							</li>
													<li class="expertice-child-first-screen-benefits-item">
								<img decoding="async" width="40" height="40" src="images/group-218-2.svg" class="attachment-full size-full" alt="">								<p class="expertice-child-first-screen-benefits-item-text">
									Enhance the user experience with modern UX best practices<br>
								</p>
							</li>
													<li class="expertice-child-first-screen-benefits-item">
								<img decoding="async" width="40" height="40" src="images/group-218-2.svg" class="attachment-full size-full" alt="">								<p class="expertice-child-first-screen-benefits-item-text">
									Get a scalable product with flexible information architecture and version control systems								</p>
							</li>
													<li class="expertice-child-first-screen-benefits-item">
								<img decoding="async" width="40" height="40" src="images/group-218-2.svg" class="attachment-full size-full" alt="">								<p class="expertice-child-first-screen-benefits-item-text">
									Benefit from faster time to market with time-saving expert knowledge of UX patterns <br>
								</p>
							</li>
													<li class="expertice-child-first-screen-benefits-item">
								<img decoding="async" width="40" height="40" src="images/group-218-2.svg" class="attachment-full size-full" alt="">								<p class="expertice-child-first-screen-benefits-item-text">
									Meet users’ requests with fast updates, fixes, and required functionality 								</p>
							</li>
													<li class="expertice-child-first-screen-benefits-item">
								<img decoding="async" width="40" height="40" src="images/group-218-2.svg" class="attachment-full size-full" alt="">								<p class="expertice-child-first-screen-benefits-item-text">
									Attract users with streamlined<br>
designs and spark an innovative design approach via engaging workshops<br>
								</p>
							</li>
											</ul>
							</div>
		</div>
	</section>


	<section class="industries-single-services" data-header="header-white" id="">
		<div class="container">
			<div class="industries-single-services-container">
				<div class="industries-single-services-title-container">
											<h2 class="industries-single-services-title">
							<span>Cloud Hawk</span> UI/UX design services						</h2>
														</div>
			</div>
			                				<ul class="industries-single-services-list d-mob-none">
					                        						<li class="industries-single-services-item">
                                                                                                                                <h3 class="industries-single-services-item-title">UI/UX design </h3>
                                                            
                            															<ul class="industries-single-services-item-benefits-list">
									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Examine users’ needs, industry standards, and competitors’ solutions</p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Elaborate well-defined user personas and user journey maps</p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Perform usability testing for enhanced user flows and conversion optimization</p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Develop a visual identity that aligns with your brand</p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Deliver appealing interfaces using UI design best practices  </p>
                                                </li>
                                                                                    																	</ul>
							                            						</li>
					                        						<li class="industries-single-services-item">
                                                                                                                                <h3 class="industries-single-services-item-title">Product prototyping</h3>
                                                            
                            															<ul class="industries-single-services-item-benefits-list">
									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Validate the feasibility of the concept with the product’s information architecture </p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Prioritize key product features with a feature map </p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Ensure proper access control, security, and a personalized UX with a user role matrix </p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Visualize the layout, structure, and basic functionality of the user interface with wireframes </p>
                                                </li>
                                                                                    																	</ul>
							                            						</li>
					                        						<li class="industries-single-services-item">
                                                                                                                                <h3 class="industries-single-services-item-title">Multiplatform design</h3>
                                                            
                            															<ul class="industries-single-services-item-benefits-list">
									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Obtain a consistent UX across web, mobile, wearables, and IoT devices </p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Elaborate user roles with role-specific functions that are properly distributed across platforms</p>
                                                </li>
                                                                                    																	</ul>
							                            						</li>
					                        						<li class="industries-single-services-item">
                                                                                                                                <h3 class="industries-single-services-item-title">Design system implementation</h3>
                                                            
                            															<ul class="industries-single-services-item-benefits-list">
									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Create stunning visuals and deliver a scalable and well-documented design system to keep the product’s look and feel consistent</p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Speed up implementation of new features with a modular design approach</p>
                                                </li>
                                                                                    																	</ul>
							                            						</li>
					                        						<li class="industries-single-services-item">
                                                                                                                                <h3 class="industries-single-services-item-title">Web/mobile design</h3>
                                                            
                            															<ul class="industries-single-services-item-benefits-list">
									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Ensure UX consistency across devices and platforms</p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Adopt a product mindset and comply with industry-specific design patterns</p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Meet WCAG accessibility guidelines to ensure wide user accessibility</p>
                                                </li>
                                                                                    																	</ul>
							                            						</li>
					                        						<li class="industries-single-services-item">
                                                                                                                                <h3 class="industries-single-services-item-title">Audit and redesign </h3>
                                                            
                            															<ul class="industries-single-services-item-benefits-list">
									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Conduct thorough analysis, user research, and usability and accessibility evaluations</p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Create user personas and user journeys </p>
                                                </li>
                                                                                    									                                                                                                                                                                                                                        <li class="industries-single-services-item-benefits-item">
                                                    <p class="industries-single-services-item-benefits-title">Obtain a report with suggested improvements</p>
                                                </li>
                                                                                    																	</ul>
							                            						</li>
									</ul>
								</div>
	</section>


	<section class="expertice-child-benefits" data-header="header-black" id="">
		<div class="container">
			<div class="expertice-child-benefits-dots-container">
				<div class="expertice-child-benefits-dots-wrapper">
					<div class="expertice-child-benefits-dots-1"></div>
				</div>
			</div>
			<div class="expertice-child-benefits-wrapper">
				<div class="expertice-child-benefits-container">
											<div class="expertice-child-benefits-title-container">
							<h2 class="expertice-child-benefits-title">
								Benefits of <span>Cloud Hawk’ UI/UX services</span> 							</h2>
						</div>
																<ul class="expertice-child-benefits-list">
															<li class="expertice-child-benefits-item">
									<div class="expertice-child-benefits-item-container">
										<div class="expertice-child-benefits-item-value-container">
											<span class="expertice-child-benefits-item-value">
												01											</span>
										</div>
										<div class="expertice-child-benefits-item-text-container">
											<h3 class="expertice-child-benefits-item-title">
												Effective approach to design											</h3>
											<p class="expertice-child-benefits-item-text">
												Take advantage of our unique step-by-step approach for creating solutions that meet user needs and business goals. This approach typically includes in-depth domain, competitor, and user research to identify necessary functionality; product ideation; prototyping; and testing. This cyclical process aims to polish the product: once it’s tested, we repeat the steps. Our approach to design is also a smart combination of DT and UCD methodologies and allows for adding new elements depending on the project’s specifics.
											</p>
										</div>
									</div>
								</li>
																<li class="expertice-child-benefits-item">
									<div class="expertice-child-benefits-item-container">
										<div class="expertice-child-benefits-item-value-container">
											<span class="expertice-child-benefits-item-value">
												02											</span>
										</div>
										<div class="expertice-child-benefits-item-text-container">
											<h3 class="expertice-child-benefits-item-title">
												Adherence to design thinking (DT) 											</h3>
											<p class="expertice-child-benefits-item-text">
												Using the design thinking methodology ensures an understanding of user needs, challenging assumptions, redefining problems, and creating innovative solutions for prototyping and testing. As a result, you receive a highly competitive product, great product differentiation, and excellent potential for entering new markets.
											</p>
										</div>
									</div>
								</li>
																<li class="expertice-child-benefits-item">
									<div class="expertice-child-benefits-item-container">
										<div class="expertice-child-benefits-item-value-container">
											<span class="expertice-child-benefits-item-value">
												03											</span>
										</div>
										<div class="expertice-child-benefits-item-text-container">
											<h3 class="expertice-child-benefits-item-title">
												User-centered design (UCD) 											</h3>
											<p class="expertice-child-benefits-item-text">
												Compliance with user-centered design principles ensures that software solutions are designed with users’ goals, problems, and limitations in mind, leading to an effective and enjoyable user experience. A software product adhering to UCD boasts high user engagement, customer retention rates, and profitability.
											</p>
										</div>
									</div>
								</li>
																<li class="expertice-child-benefits-item">
									<div class="expertice-child-benefits-item-container">
										<div class="expertice-child-benefits-item-value-container">
											<span class="expertice-child-benefits-item-value">
												04											</span>
										</div>
										<div class="expertice-child-benefits-item-text-container">
											<h3 class="expertice-child-benefits-item-title">
												Design excellence 											</h3>
											<p class="expertice-child-benefits-item-text">
												Benefit from a team of highly professional designers whose proficiency is confirmed by top credentials (including the Google UX Design Certificate and design-related certificates by IBM). Rest assured that Cloud Hawk designers follow proven methodologies and practices like NN Group design principles and Web Content Accessibility Guidelines to design products that drive results.
											</p>
										</div>
									</div>
								</li>
														</ul>
									</div>
									<div class="cta-dark-orange-bg">
						<div class="cta-dark-orange-bg-container">
							<div class="">
								<h3 class="cta-dark-orange-bg-title">
									Need quality UI/UX services with all the benefits listed above? 								</h3>
								<p class="cta-dark-orange-bg-text">
									Get in touch and learn more about what we have to offer.<br>
								</p>
							</div>
																						<a class="cta-dark-orange-bg-link" href="/expertise/ui-and-ux-design/#contact">
									Book a call								</a>
													</div>
					</div>
							</div>
		</div>
	</section>


	<section class="case-studies" data-header="header-black" id="">
		<div class="container">
			<div class="case-studies-title-container">
									<h2 class="case-studies-title">
						Some of our recent <span>case studies</span>					</h2>
								<div class="case-studies-swiper-navigation">
					<div class="case-studies-button-prev"></div>
					<div class="case-studies-button-next"></div>
				</div>
			</div>
            			<div class="case-studies-container">
				                    					<div class="count-reviews-mobile-case"></div>
					<div class="case-studies-pagination"></div>
					<div class="case-studies-list swiper" data-right-edge-slider="false">
						<div class="swiper-wrapper">
							                                								<div class="case-studies-item swiper-slide">
									<a href="https://cloudhawktech.com/works/ehr-integration/" class="case-studies-item-link">
                                                                                                                                                                    <div class="case-studies-item-back" style="background-color: "></div>
                                        										<h3 class="case-studies-item-title case-studies-item-title--desktop">
											HIPAA-compliant SaaS healthcare solution 										</h3>
                                        																					<ul class="case-studies-item-list">
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Consistent and scalable information architecture 														</p>
													</li>
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Multiple user roles with different functions														</p>
													</li>
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Accessible for people with disabilities														</p>
													</li>
																							</ul>
										                                        <div class="case-studies-item-image-wrapper">
                                            <div class="case-studies-item-image-small">
                                                <img decoding="async" width="143" height="45" src="images/logo6.svg" class="attachment-full size-full" alt="">                                            </div>
                                                                                            <div class="case-studies-item-image-big">
                                                    <img fetchpriority="high" decoding="async" width="492" height="365" src="images/healthfully_ehr_integration.webp" class="attachment-full size-full" alt="" srcset="images/healthfully_ehr_integration.webp 492w, images/healthfully_ehr_integration-300x223.webp 300w, images/healthfully_ehr_integration-280x208.webp 280w, images/healthfully_ehr_integration-270x200.webp 270w, images/healthfully_ehr_integration-328x243.webp 328w, images/healthfully_ehr_integration-120x90.webp 120w, images/healthfully_ehr_integration-337x250.webp 337w, images/healthfully_ehr_integration-368x273.webp 368w, images/healthfully_ehr_integration-260x193.webp 260w, images/healthfully_ehr_integration-464x344.webp 464w, images/healthfully_ehr_integration-135x100.webp 135w, images/healthfully_ehr_integration-20x15.webp 20w, images/healthfully_ehr_integration-100x74.webp 100w" sizes="(max-width: 492px) 100vw, 492px">                                                </div>
                                                                                    </div>
										<p class="case-studies-item-button">
											See full case study
										</p>
									</a>
								</div>
							                                								<div class="case-studies-item swiper-slide">
									<a href="https://cloudhawktech.com/works/transportation-management-system/" class="case-studies-item-link">
                                                                                                                                                                    <div class="case-studies-item-back" style="background-color: "></div>
                                        										<h3 class="case-studies-item-title case-studies-item-title--desktop">
											SaaS platform for transportation management										</h3>
                                        																					<ul class="case-studies-item-list">
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Streamlined onboarding experience 														</p>
													</li>
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Reduced route planning time														</p>
													</li>
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Visibility for logistics and delivery processes														</p>
													</li>
																							</ul>
										                                        <div class="case-studies-item-image-wrapper">
                                            <div class="case-studies-item-image-small">
                                                <img decoding="async" width="143" height="45" src="images/custom-white-label-tms-solution-for-enhanced-logistics-efficiency_logo.svg" class="attachment-full size-full" alt="">                                            </div>
                                                                                            <div class="case-studies-item-image-big">
                                                    <img decoding="async" width="328" height="243" src="images/picture4-1.webp" class="attachment-full size-full" alt="" srcset="images/picture4-1.webp 328w, images/picture4-1-300x222.webp 300w, images/picture4-1-281x208.webp 281w, images/picture4-1-270x200.webp 270w, images/picture4-1-120x90.webp 120w, images/picture4-1-260x193.webp 260w, images/picture4-1-135x100.webp 135w, images/picture4-1-20x15.webp 20w, images/picture4-1-100x74.webp 100w" sizes="(max-width: 328px) 100vw, 328px">                                                </div>
                                                                                    </div>
										<p class="case-studies-item-button">
											See full case study
										</p>
									</a>
								</div>
							                                								<div class="case-studies-item swiper-slide">
									<a href="https://cloudhawktech.com/works/customer-portal-for-trucking-company/" class="case-studies-item-link">
                                                                                                                                                                    <div class="case-studies-item-back" style="background-color: "></div>
                                        										<h3 class="case-studies-item-title case-studies-item-title--desktop">
											Customer portal for a logistics company 										</h3>
                                        																					<ul class="case-studies-item-list">
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Order management and tracking 														</p>
													</li>
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Streamlined document management														</p>
													</li>
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Intuitive onboarding experience														</p>
													</li>
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Optimized routine processing 														</p>
													</li>
																							</ul>
										                                        <div class="case-studies-item-image-wrapper">
                                            <div class="case-studies-item-image-small">
                                                <img decoding="async" width="100" height="45" src="images/xfg.svg" class="attachment-full size-full" alt="">                                            </div>
                                                                                            <div class="case-studies-item-image-big">
                                                    <img decoding="async" width="492" height="365" src="images/wayne_transports-2.webp" class="attachment-full size-full" alt="" srcset="images/wayne_transports-2.webp 492w, images/wayne_transports-2-300x223.webp 300w, images/wayne_transports-2-280x208.webp 280w, images/wayne_transports-2-270x200.webp 270w, images/wayne_transports-2-328x243.webp 328w, images/wayne_transports-2-120x90.webp 120w, images/wayne_transports-2-337x250.webp 337w, images/wayne_transports-2-368x273.webp 368w, images/wayne_transports-2-260x193.webp 260w, images/wayne_transports-2-464x344.webp 464w, images/wayne_transports-2-135x100.webp 135w, images/wayne_transports-2-20x15.webp 20w, images/wayne_transports-2-100x74.webp 100w" sizes="(max-width: 492px) 100vw, 492px">                                                </div>
                                                                                    </div>
										<p class="case-studies-item-button">
											See full case study
										</p>
									</a>
								</div>
							                                								<div class="case-studies-item swiper-slide">
									<a href="https://cloudhawktech.com/works/kpmg/" class="case-studies-item-link">
                                                                                                                                                                    <div class="case-studies-item-back" style="background-color: "></div>
                                        										<h3 class="case-studies-item-title case-studies-item-title--desktop">
											Customer support application (KPMG)										</h3>
                                        																					<ul class="case-studies-item-list">
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Support call back requesting 														</p>
													</li>
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Sending texts and audio with attached media 														</p>
													</li>
																									<li class="case-studies-item-list-item">
														<p class="case-studies-item-list-item-title">
															Siri integration for quick access 														</p>
													</li>
																							</ul>
										                                        <div class="case-studies-item-image-wrapper">
                                            <div class="case-studies-item-image-small">
                                                <img decoding="async" width="143" height="45" src="images/jn.svg" class="attachment-full size-full" alt="">                                            </div>
                                                                                            <div class="case-studies-item-image-big">
                                                    <img decoding="async" width="493" height="365" src="images/kpmg.webp" class="attachment-full size-full" alt="" srcset="images/kpmg.webp 493w, images/kpmg-300x222.webp 300w, images/kpmg-281x208.webp 281w, images/kpmg-270x200.webp 270w, images/kpmg-328x243.webp 328w, images/kpmg-120x90.webp 120w, images/kpmg-338x250.webp 338w, images/kpmg-368x272.webp 368w, images/kpmg-260x192.webp 260w, images/kpmg-465x344.webp 465w, images/kpmg-135x100.webp 135w, images/kpmg-20x15.webp 20w, images/kpmg-100x74.webp 100w" sizes="(max-width: 493px) 100vw, 493px">                                                </div>
                                                                                    </div>
										<p class="case-studies-item-button">
											See full case study
										</p>
									</a>
								</div>
													</div>
					</div>
					<div class="case-studies-swiper-navigation-mobile">
						<div class="case-studies-button-prev-tablet"></div>
						<div class="case-studies-button-next-tablet"></div>
					</div>
							</div>
							<div class="cta-dark-orange-bg">
					<div class="cta-dark-orange-bg-container">
						<div class="">
							<h3 class="cta-dark-orange-bg-title">
								Looking for UX professionals?							</h3>
							<p class="cta-dark-orange-bg-text">
								We create and optimize end-to-end user experiences while ensuring consistency across platforms.<br>
							</p>
						</div>
																			<a class="cta-dark-orange-bg-link" href="/contacts/">
								Contact us							</a>
											</div>
				</div>
					</div>
	</section>


	<section class="insights" data-header="header-white" id="">
		<div class="container">
							<div class="insights-title-container">
					<h2 class="insights-title">
						Our  <span>insights into UI and UX design<span> 					</span></span></h2>
				</div>
						<div class="insights-list">
																						<a class="insights-item" href="https://cloudhawktech.com/blog/seven-types-of-animations-for-mobile-apps/">
								<div class="insights-item-image">
									<img decoding="async" width="530" height="341" src="images/how-to-use-animations-in-your-mobile-app.webp" class="attachment-full size-full" alt="" srcset="images/how-to-use-animations-in-your-mobile-app.webp 530w, images/how-to-use-animations-in-your-mobile-app-300x193.webp 300w, images/how-to-use-animations-in-your-mobile-app-323x208.webp 323w, images/how-to-use-animations-in-your-mobile-app-288x185.webp 288w, images/how-to-use-animations-in-your-mobile-app-311x200.webp 311w, images/how-to-use-animations-in-your-mobile-app-328x211.webp 328w, images/how-to-use-animations-in-your-mobile-app-120x77.webp 120w, images/how-to-use-animations-in-your-mobile-app-389x250.webp 389w, images/how-to-use-animations-in-your-mobile-app-368x237.webp 368w, images/how-to-use-animations-in-your-mobile-app-260x167.webp 260w, images/how-to-use-animations-in-your-mobile-app-155x100.webp 155w, images/how-to-use-animations-in-your-mobile-app-20x13.webp 20w, images/how-to-use-animations-in-your-mobile-app-100x64.webp 100w" sizes="(max-width: 530px) 100vw, 530px">								</div>
																<div class="insights-item-text-container">
																			<span class="insights-item-category">
										How to									</span>
																		<h3 class="insights-item-title">
										How to successfully use animations in your mobile app									</h3>
																			<p class="insights-item-text">
											Our design experts have created a list of seven types of stunning and useful animations you’re welcome to use for your mobile application.										</p>
																	</div>
							</a>
																								<a class="insights-item" href="https://cloudhawktech.com/blog/logistics-dashboards/">
								<div class="insights-item-image">
									<img decoding="async" width="1920" height="1440" src="images/logistics_dashboards-1.webp" class="attachment-full size-full" alt="" srcset="images/logistics_dashboards-1.webp 1920w, images/logistics_dashboards-1-300x225.webp 300w, images/logistics_dashboards-1-1024x768.webp 1024w, images/logistics_dashboards-1-768x576.webp 768w, images/logistics_dashboards-1-1536x1152.webp 1536w, images/logistics_dashboards-1-277x208.webp 277w, images/logistics_dashboards-1-267x200.webp 267w, images/logistics_dashboards-1-328x246.webp 328w, images/logistics_dashboards-1-120x90.webp 120w, images/logistics_dashboards-1-333x250.webp 333w, images/logistics_dashboards-1-368x276.webp 368w, images/logistics_dashboards-1-260x195.webp 260w, images/logistics_dashboards-1-459x344.webp 459w, images/logistics_dashboards-1-533x400.webp 533w, images/logistics_dashboards-1-133x100.webp 133w, images/logistics_dashboards-1-20x15.webp 20w, images/logistics_dashboards-1-100x75.webp 100w" sizes="(max-width: 1920px) 100vw, 1920px">								</div>
																<div class="insights-item-text-container">
																			<span class="insights-item-category">
										How to									</span>
																		<h3 class="insights-item-title">
										Dashboards as an integral part of supply chain visibility									</h3>
																			<p class="insights-item-text">
											Learn about different supply chain analytics dashboards and supply chain visibility tools that can help you resolve issues that stop your company from growing.										</p>
																	</div>
							</a>
																								<a class="insights-item" href="https://cloudhawktech.com/blog/web-animation-technologies-and-tools/">
								<div class="insights-item-image">
									<img decoding="async" width="1050" height="403" src="images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo.webp" class="attachment-full size-full" alt="" srcset="images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo.webp 1050w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-300x115.webp 300w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-1024x393.webp 1024w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-768x295.webp 768w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-336x129.webp 336w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-288x111.webp 288w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-368x141.webp 368w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-328x126.webp 328w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-120x46.webp 120w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-651x250.webp 651w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-260x100.webp 260w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-896x344.webp 896w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-732x281.webp 732w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-177x68.webp 177w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-20x8.webp 20w, images/web-animations-and-animation-tools-that-you-can-use-for-your-web-app-logo-100x38.webp 100w" sizes="(max-width: 1050px) 100vw, 1050px">								</div>
																<div class="insights-item-text-container">
																			<span class="insights-item-category">
										How to									</span>
																		<h3 class="insights-item-title">
										Which animation to use to improve the UX of your web app									</h3>
																			<p class="insights-item-text">
											Animation is a great way to make your website bright and attractive. We discuss which technologies and tools you can use to create animated web pages.										</p>
																	</div>
							</a>
																		</div>
		</div>
	</section>


	<section class="faq" data-header="header-white" id="">
                    <div class="faq-dots-container">
                <div class="faq-dots-wrapper">
                    <div class="faq-dots-1"></div>
                    <div class="faq-dots-2"></div>
                    <div class="faq-dots-3"></div>
                </div>
            </div>
        		<div class="container">
							<div class="faq-container">
					<span class="faq-title">Frequently asked questions (FAQ)</span>
				</div>
										<div class="faq-list">
											<div class="faq-item">
							<div class="faq-question">
								<h3 class="faq-question-title">
									How would you describe the Design Thinking approach you follow when providing UI/UX services?								</h3>
								<div class="faq-question-image"></div>
							</div>
							<div class="faq-answer">
								<div class="faq-answer-text">
									<p>
										</p><p><span style="font-weight: 400;">Our iterative approach to providing </span><span style="font-weight: 400;">user experience design services</span><span style="font-weight: 400;"> consists of the following steps:</span></p>
<ol>
<li style="font-weight: 400;" aria-level="1"><b>Learn about your customers. </b><span style="font-weight: 400;">Hold user and stakeholder interviews and surveys, study competitors, conduct focus groups, and map the customer journey.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Construct a point of view based on customer needs and insights.</b><span style="font-weight: 400;"> Build personas, empathy maps, </span><span style="font-weight: 400;">user journeys, storyboards</span><span style="font-weight: 400;">, user stories, and a problem statement and apply the jobs-to-be-done framework.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Brainstorm possible solutions. </b><span style="font-weight: 400;">Conduct brainstorming</span> <span style="font-weight: 400;">sessions; create mind maps, affinity maps, user flows, and information architecture; and apply card sorting and the Crazy 8’s technique. </span></li>
<li style="font-weight: 400;" aria-level="1"><b>Create solution prototypes. </b><span style="font-weight: 400;">Create</span> <span style="font-weight: 400;">micro-interactions, detailed user flows, mockups, interactive prototypes, wireframes, and design documentation and ensure high-fidelity design and design hand-offs.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Test your prototypes with users to get feedback. </b><span style="font-weight: 400;">Perform usability testing and Gorilla testing, conduct a System Usability Scale survey, perform heuristic evaluation, and analyze analytics and metrics. </span></li>
</ol>
<p><span style="font-weight: 400;"> </span></p>
									<p></p>
								</div>
							</div>
						</div>
											<div class="faq-item">
							<div class="faq-question">
								<h3 class="faq-question-title">
									How would you describe the User-Centered Design technique applied by your UI/UX design services company?								</h3>
								<div class="faq-question-image"></div>
							</div>
							<div class="faq-answer">
								<div class="faq-answer-text">
									<p>
										</p><p><span style="font-weight: 400;">User-Centered Design (or Human-Centered Design) is an iterative design technique aimed at developing solutions to problems by approaching all steps in the problem-solving process from a human perspective. There are four stages of user-centered design:</span></p>
<ol>
<li style="font-weight: 400;" aria-level="1"><b>Understand the context of use. </b><span style="font-weight: 400;">Try to understand the context in which your users will use your product. </span></li>
<li style="font-weight: 400;" aria-level="1"><b>Specify requirements.</b><span style="font-weight: 400;"> Identify and elicit users’ requirements. </span></li>
<li style="font-weight: 400;" aria-level="1"><b>Design solutions.</b><span style="font-weight: 400;"> Develop possible solutions based on the requirements.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Evaluate the solutions.</b><span style="font-weight: 400;"> Evaluate the solutions against your users’ context and requirements, checking how closely they match specific needs. </span></li>
</ol>
<p><span style="font-weight: 400;">That’s not the end, however. Our team can perform further iterations of these four stages and continue until the results are satisfactory.</span></p>
									<p></p>
								</div>
							</div>
						</div>
											<div class="faq-item">
							<div class="faq-question">
								<h3 class="faq-question-title">
									Should I try to fix all of my UX problems at once with your user experience services?								</h3>
								<div class="faq-question-image"></div>
							</div>
							<div class="faq-answer">
								<div class="faq-answer-text">
									<p>
										</p><p><span style="font-weight: 400;">Don’t try to fix all your problems at once. Develop a minimum viable product first and try to fix major issues in the early version. Then test every change you make as soon as possible.</span></p>
<p><span style="font-weight: 400;">Your MVP product should have enough features to allow you to ship the product to its first users. Use it to test your assumptions, understand your users, and define functionality that brings them real value.</span></p>
									<p></p>
								</div>
							</div>
						</div>
									</div>
					</div>
	</section>


	<section class="industries-seo" data-header="header-white" id="">
		<div class="container">
			<div class="industries-seo-container">
									<div class="industries-seo-title-container">
						<h2 class="industries-seo-title">
							What are the key UX services provided by your UI/UX design services company?						</h2>
						<div class="industries-seo-arrow">
							<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="48" height="48" fill="#F3F4F4"></rect>
								<path d="M12 30L24 18L36 30" stroke="#1C1E24" stroke-width="3"></path>
							</svg>
						</div>
					</div>
													<div class="industries-seo-content closed">
						<p><span style="font-weight: 400;">A well-executed </span><span style="font-weight: 400;">UI/UX design services</span><span style="font-weight: 400;"> approach can positively impact user engagement, customer satisfaction, and business outcomes. Let’s talk about our </span><span style="font-weight: 400;">UI/UX services</span><span style="font-weight: 400;"> in detail, beginning with UX design. </span></p>
<p><span style="font-weight: 400;">The UX design process comes down to four basic stages: Think, Create, Test, and Repeat. <br>
</span><b><br>
1. Think – Find out users’ needs</b></p>
<p><span style="font-weight: 400;">Here are our tasks for the Think step:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><b>Conduct UX research</b><span style="font-weight: 400;"> (qualitative and quantitative) to learn more about your target audience’s needs; analyze the market and competitors.</span></li>
<li><b>Elicit customers’ requirements.</b><span style="font-weight: 400;"> Working closely with business analysts, define your business requirements and prepare technical specifications.</span></li>
<li><b>Create user personas and roles</b><span>.</span></li>
</ul>
<p><b>2. Create – Develop possible solutions based on users’ requirements</b></p>
<p><span style="font-weight: 400;">We start with drafting your information architecture and navigation:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><b>Create a mind map</b><span style="font-weight: 400;"> (site map) of your application that describes the app’s structure and logic.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Create wireframes</b><span style="font-weight: 400;"> with textual content.</span></li>
<li><b>Build a prototype, share it with the client or with future users, and test it.</b></li>
<li><b>Work on your visual design.</b></li>
</ul>
<p><b>3. Test – Put your prototypes in front of users to get feedback</b></p>
<p><span style="font-weight: 400;">Once we have wireframes with text, we test them on real users. It’s critical to take advantage of every possible opportunity to get feedback.<br>
</span></p>
<p><b></b><b>4. Repeat – Iterate until you get satisfactory results</b></p>
<p><span style="font-weight: 400;">How many iterations do you need to create an app design that truly works? There’s no such thing as a “final” design. We consider your product a living creature: it should develop and evolve, getting better with each generation.</span></p>
<h3>Components of our UX design services:</h3>
<p><span style="font-weight: 400;">To optimize the effectiveness and efficiency of our </span><span style="font-weight: 400;">user experience design services</span><span style="font-weight: 400;"> and consequently your digital product, we employ a strategic mix of UX techniques:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><b>Comprehensive user research </b><span style="font-weight: 400;">is aimed at understanding your users and their needs, motivations, and behavior. This lays the foundation for all design decisions.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>User interviews</b><span style="font-weight: 400;"> are direct conversations with users to gain insights into their needs and how they interact with specific features of your product. By understanding usage patterns, we can identify features that may be overlooked or need refining. This process allows us to more effectively tailor your product to users’ needs and preferences.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>User persona development.</b><span style="font-weight: 400;"> Based on user research, we create detailed user personas that represent different types of users. These personas guide us in designing a product that resonates with your users.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>User journey mapping.</b><span style="font-weight: 400;"> We map out the journey users take when interacting with your product, identifying pain points and opportunities for improvement.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Surveys and questionnaires.</b><span style="font-weight: 400;"> These are quick and effective tools for gathering both qualitative and quantitative data regarding users’ difficulties and satisfaction metrics. This helps us guide the design process toward improving overall user satisfaction, thus fostering user loyalty and potentially increasing usage rates.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Usability evaluations and Guerrilla testing.</b><span style="font-weight: 400;"> These practices help us refine product heuristics and provide insights from actual users. Direct feedback from users typically leads to immediate and impactful changes, enhancing the product’s overall usability and desirability.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Metrics and analytics review.</b><span style="font-weight: 400;"> This is a crucial component of UX design that lets us understand how your product is actually being used. We can make data-driven decisions to improve user engagement and retain users by identifying patterns and trends.</span></li>
</ul>
<h2>What are the key UI services provided by our UI/UX design services company?</h2>
<p><span style="font-weight: 400;">What services does our </span><span style="font-weight: 400;">UI design services company</span><span style="font-weight: 400;"> provide? Here are the key components typically included in our </span><span style="font-weight: 400;">UI design services</span><span style="font-weight: 400;">:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><b>Visual branding</b><span style="font-weight: 400;"> involves the development of a visual identity that aligns with your brand and conveys its personality, values, and essence. Visual branding involves designing a logo, color palette, typography, and other brand elements.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Wireframing and prototyping</b><span style="font-weight: 400;"> entail creating low-fidelity wireframes and interactive prototypes that outline the structure, layout, and flow of </span><span style="font-weight: 400;">user interfaces</span><span style="font-weight: 400;">. This helps to visualize and refine the design concepts.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>UI component design</b><span style="font-weight: 400;"> includes designing individual UI components such as buttons, navigation menus, form fields, cards, and other interactive elements. This involves defining their visual appearance and behavior and ensuring responsive design for different devices.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Layout design</b><span style="font-weight: 400;"> involves determining the arrangement and positioning of elements within the user interface to create a visually balanced and intuitive design. This includes considering the hierarchy of information, spatial relationships, and user flow.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Typography and iconography</b><span style="font-weight: 400;"> incorporate selecting appropriate fonts and icon sets that complement the overall design aesthetic and enhance readability and visual communication within the interface.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Responsive design</b><span style="font-weight: 400;"> helps to guarantee that the UI design is adaptable and optimized for different screen sizes and devices, providing a consistent and enjoyable experience across desktop, tablet, and mobile.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>Usability and interaction design</b><span style="font-weight: 400;"> focuses on creating intuitive and user-friendly interactions such as animations and transitions that improve the user experience.</span></li>
<li style="font-weight: 400;" aria-level="1"><b>UI style guides</b> <b>and design systems</b><span style="font-weight: 400;"> provide guidelines for maintaining consistency and ensuring a cohesive visual experience throughout the application.</span></li>
</ul>
<p><span style="font-weight: 400;">Quality </span><span style="font-weight: 400;">UI and UX design services</span><span style="font-weight: 400;"> play a crucial role in creating intuitive, engaging, and user-centric digital experiences. By investing in thoughtful and strategic </span><span style="font-weight: 400;">UI/UX design and development services</span><span style="font-weight: 400;">, organizations can differentiate themselves in a competitive landscape, foster user loyalty, and drive sustainable growth. The iterative and collaborative nature of our </span><span style="font-weight: 400;">UI/UX design services</span><span style="font-weight: 400;"> and processes allows for continual improvement and refinement. We will select the right </span><span style="font-weight: 400;">UI and UX design</span><span style="font-weight: 400;"> approach to secure the success of your digital product.</span></p>
					</div>
							</div>
		</div>
	</section>
    <section class="contact-us contact-us-v1 contact-us-v1-book-call" data-header="header-white" id="contact">
        <div class="contact-us-container">
            <div class="container">
                <div class="contact-us-wrapper">
                    <div class="contact-us-form-wrapper">
                        <div class="contact-us-form-container">
                            <h2 class="contact-us-form-title">
                                Need experts to create a sophisticated custom solution?                                </h2>
                            
<div class="wpcf7 no-js" id="wpcf7-f228-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/expertise/#wpcf7-f228-o1" method="post" class="wpcf7-form init wpcf7-acceptance-as-validation" aria-label="Contact form" enctype="multipart/form-data" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="228">
<input type="hidden" name="_wpcf7_version" value="5.9.8">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f228-o1">
<input type="hidden" name="_wpcf7_container_post" value="0">
<input type="hidden" name="_wpcf7_posted_data_hash" value="">
<input type="hidden" name="_wpcf7_recaptcha_response" value="">
</div>
<div class="contact-form-info-wrapper">  
<div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="fullName"><input size="40" maxlength="1000" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" aria-required="true" aria-invalid="false" placeholder="Full name" value="" type="text" name="fullName"></span><label for="fullName">Full name<b style="color:#FF6300">*</b></label></div>
<div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" maxlength="100" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email input-text" aria-required="true" aria-invalid="false" placeholder="Email address" value="" type="email" name="your-email"></span><label for="your-email">Email address<b style="color:#FF6300">*</b></label></div>
<div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="orgName"><input size="40" maxlength="1000" class="wpcf7-form-control wpcf7-text input-text" aria-invalid="false" placeholder="Company name" value="" type="text" name="orgName"></span><label for="orgName">Company name</label></div>
<div class="contact-form-input-wrapper js-input"><span class="wpcf7-form-control-wrap" data-name="your-phone"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-tel wpcf7-text wpcf7-validates-as-tel input-text" aria-invalid="false" placeholder="Phone number" value="" type="tel" name="your-phone"></span><label for="your-phone">Phone number</label></div>
</div>
<div class="contact-form-text-area-wrapper js-input">
<div><span class="wpcf7-form-control-wrap" data-name="details"><input size="40" maxlength="1000" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" aria-required="true" aria-invalid="false" placeholder="About your project" value="" type="text" name="details"></span><label for="details"> About your project <b style="color:#FF6300">*</b></label></div>
</div>
<div class="contact-form-file-wrapper">
<label for="wpcf7-file">Attach a file</label>
<p class="contact-form-file-text">Please upload a file with one of the following extensions: .pdf, .docx, .odt, .ods, .ppt/x, .xls/x, .rtf, .txt</p>
<div class="contact-form-file-info-wrapper"><p class="contact-form-file-info-wrapper-title">Name_of_file.pdf</p>
    <p class="contact-form-file-info-wrapper-weight">10.53 MB</p> <span class="contact-form-file-info-wrapper-button-close"></span></div>
<span class="wpcf7-form-control-wrap" data-name="attach-file"><input size="40" class="wpcf7-form-control wpcf7-file" accept=".pdf,.docx,.odt,.ods,.ppt,.pptx,.xls,.xlsx,.rtf,.txt" aria-invalid="false" type="file" name="attach-file"></span>
</div>
<div class="contact-form-checkbox-wrapper">
<div class="contact-form-acceptance-container">
<span class="wpcf7-form-control-wrap" data-name="privacyPolicyAccepted"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><label><input type="checkbox" name="privacyPolicyAccepted" value="1" aria-invalid="false"><span class="wpcf7-list-item-label"><span class="contact-form-acceptance-label">I have read <a href="/privacy-notice/" target="_blank">Privacy Notice</a><b style="color:#FF6300">*</b></span></span></label></span></span></span>
</div>
</div>
<div class="contact-form-additional-privacy-container checkbox-js"><span class="wpcf7-form-control-wrap" data-name="receiveEmails"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><label><input type="checkbox" name="receiveEmails[]" value="I agree to receive marketing materials about news, events, and proposals from Cloud Hawk"><span class="wpcf7-list-item-label">I agree to receive marketing materials about news, events, and proposals from Cloud Hawk</span></label></span></span></span></div>
<div class="contact-form-recaptcha-container">
<span class="wpcf7-form-control-wrap recaptcha" data-name="recaptcha"><span data-sitekey="6LcO6mAnAAAAADWhPb8a_RyRt_AHuYgoX6iCpgIP" class="wpcf7-form-control wpcf7-recaptcha g-recaptcha"></span>
<noscript>
<div class="grecaptcha-noscript">
    <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LcO6mAnAAAAADWhPb8a_RyRt_AHuYgoX6iCpgIP" frameborder="0" scrolling="no" width="310" height="430">
    </iframe>
    <textarea name="g-recaptcha-response" rows="3" cols="40" placeholder="reCaptcha Response Here">
    </textarea>
</div>
</noscript>
</span>
</div>
<input class="wpcf7-form-control wpcf7-hidden path-history" value="" type="hidden" name="path-history">
<input class="wpcf7-form-control wpcf7-submit has-spinner contact-form-button" type="submit" value="Send message"><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
                        </div>
                                                    <div class="contact-us-thanks">
                            <img decoding="async" src="/images/success.svg" alt="success" width="110" height="110">
                            <p class="contact-us-thanks-title">
                                got it!                                </p>
                            <p class="contact-us-thanks-text">
                                Keep an eye on your inbox. We’ll be in touch shortly<br>
Meanwhile, you can explore our hottest case studies and read<br>
client feedback on Clutch.                                </p>
                                                                <a href="https://clutch.co/profile/Cloud Hawk#reviews" class="contact-us-thanks-button" target="_blank">
                                    See Cloud Hawk reviews                                    </a>
                                                        </div>
                        <div class="contact-us-error">
                            <img decoding="async" src="/images/error.svg" alt="error" width="110" height="110">
                            <p class="contact-us-error-title">opps!</p>
                            <p class="contact-us-error-text">
                                Oops, the form hasn’t been submitted. Please, try again
                            </p>
                            <a href="#" class="contact-us-error-button">Retry</a>
                        </div>
                    </div>
                    <div class="contact-us-info-wrapper">

                                                                               
                                                                    
                        <div class="contact-us-steps-container">
                            <h2 class="contact-us-steps-title">Your steps with Cloud Hawk</h2>
                                                                <ul class="contact-us-steps-list square-bullets">
                                                                                <li class="contact-us-steps-item">
                                            <p class="contact-us-steps-item-title">Schedule a call</p>
                                        </li>
                                                                                <li class="contact-us-steps-item">
                                            <p class="contact-us-steps-item-title">We collect your requirements</p>
                                        </li>
                                                                                <li class="contact-us-steps-item">
                                            <p class="contact-us-steps-item-title">We offer a solution</p>
                                        </li>
                                                                                <li class="contact-us-steps-item">
                                            <p class="contact-us-steps-item-title">We succeed together!</p>
                                        </li>
                                                                        </ul>
                                                        </div>

                                                </div>
                </div>
            </div>
        </div>
    </section>
</DefaultLayout>