<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-container-menus">
                <nav class="footer-navigation">
                    <div class="footer-menu">
                        <h4 class="footer-menu-title">
                            <a href="https://cloudhawktech.com/service/" class="">
                                Services </a>
                            <span class="mobile-arrow"></span>
                        </h4>
                        <div class="footer-menu-container">
                            <ul class="menu">
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/service/custom-software-development/">
                                        Custom software development </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/service/development-teams/">
                                        Dedicated development teams &nbsp; </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/service/it-consulting/">
                                        IT consulting </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/service/digital-transformation/">
                                        Digital transformation </a>
                                </li>
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/service/staff-augmentation-services/">
                                        Staff augmentation services </a>
                                </li>
                            </ul>
                        </div>
                        <h4 class="footer-menu-title">
                            <a href="https://cloudhawktech.com/clients/" class="">
                                Success stories </a>
                            <span class="mobile-arrow"></span>
                        </h4>
                        <div class="footer-menu-container">
                            <ul class="menu">
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/clients/">
                                        Clients </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/works/">
                                        Case studies </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-menu">
                        <h4 class="footer-menu-title">
                            <a href="https://cloudhawktech.com/expertise/" class="">
                                Expertises </a>
                            <span class="mobile-arrow"></span>
                        </h4>
                        <div class="footer-menu-container">
                            <ul class="menu">
                                <li class="menu-item menu-item-has-children">
                                    <a class="" href="https://cloudhawktech.com/expertise/">
                                        Technology </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a class="" href="https://cloudhawktech.com/expertise/iot-services/">
                                                Internet of Things (IoT) </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/data-science-services/data-science-consulting-services/">
                                                Data science </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/ai-development-services/">
                                                Artificial intelligence (AI) </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/machine-learning-development/">
                                                Machine learning (ML) </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/blockchain-software-development/">
                                                Blockchain </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class="" href="https://cloudhawktech.com/expertise/rpa-solutions/">
                                                Process automation (RPA) </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/business-intelligence-services/">
                                                Business intelligence (BI) </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/data-engineering-services/">
                                                Data engineering services </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a class="" href="https://cloudhawktech.com/expertise/">
                                        Solutions </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/performance-testing-services/">
                                                Performance testing services </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/data-analytics-services/">
                                                Data analytics </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/it-infrastructure-services/">
                                                IT infrastructure services </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/cybersecurity-services/">
                                                Cybersecurity services </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class="" href="https://cloudhawktech.com/expertise/ui-and-ux-design/">
                                                UI/UX design services </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class=""
                                                href="https://cloudhawktech.com/expertise/big-data-services/">
                                                Big data </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h4 class="footer-menu-title">
                            <a href="https://cloudhawktech.com/solution-hub/" class="">
                                Cloud Hawk solution hub </a>
                            <span class="mobile-arrow"></span>
                        </h4>
                        <div class="footer-menu-container">
                            <ul class="menu">
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/solution-hub/iot-accelerator/">
                                        Cloud Hawk IoT Accelerator </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/solution-hub/erp-system/">
                                        Cloud Hawk ERP system </a>
                                </li>
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/solution-hub/Cloud Hawk-corporate-payments-system/">
                                        Cloud Hawk Payments </a>
                                </li>
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/solution-hub/Cloud Hawk-ai-virtual-assistant/">
                                        An AI-powered virtual assistant </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/solution-hub/devops-accelerator/">
                                        DevOps Accelerator </a>
                                </li>
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/solution-hub/authorization-accelerator/">
                                        Authorization Accelerator </a>
                                </li>
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/solution-hub/ucrop-image-cropping-library/">
                                        uCrop </a>
                                </li>
                            </ul>
                        </div>
                        <h4 class="footer-menu-title">
                            <a href="https://cloudhawktech.com/solution-hub/y-quality-accelerator/" class="">
                                Y-Quality </a>
                            <span class="mobile-arrow"></span>
                        </h4>
                    </div>
                    <div class="footer-menu">
                        <h4 class="footer-menu-title">
                            <a href="https://cloudhawktech.com/industries/" class="">
                                Industries </a>
                            <span class="mobile-arrow"></span>
                        </h4>
                        <div class="footer-menu-container">
                            <ul class="menu">
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/industries/financial-software-development/">
                                        Fintech </a>
                                </li>
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/industries/healthcare-software-development/">
                                        Healthcare </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/industries/supply-chain-management/">
                                        Transportation and mobility </a>
                                </li>
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/expertise/iot-software-development-company/">
                                        Manufacturing </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/expertise/iot-services/">
                                        Smart home and appliances </a>
                                </li>
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/blog/in-house-software-development-vs-outsourced/">
                                        Software products </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/works/truhoo/">
                                        Real estate </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/works/conscious-energy-consumption/">
                                        Energy consumption management system </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-menu">
                        <h4 class="footer-menu-title">
                            <a href="https://cloudhawktech.com/company/" class="">
                                Company </a>
                            <span class="mobile-arrow"></span>
                        </h4>
                        <div class="footer-menu-container">
                            <ul class="menu">
                                <li class="menu-item">
                                    <a class="" href="/company/#who_we_are">
                                        About </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="/company/#our_mission">
                                        Mission and values </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="/company/#international_presence">
                                        International presence </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="/company/#management_team">
                                        Management team </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="/company/#corporate_social_responsibility">
                                        Corporate social responsibility </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="/company/#industry_contribution">
                                        Industry contribution </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="/company/#our_clients_and_awards">
                                        Our clients and awards </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-menu">
                        <h4 class="footer-menu-title">
                            <a href="https://cloudhawktech.com/blog/" class="">
                                Insights </a>
                            <span class="mobile-arrow"></span>
                        </h4>
                        <div class="footer-menu-container">
                            <ul class="menu">
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/blog/industry/fintech/">
                                        FinTech </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/blog/industry/healthcare/">
                                        Healthcare </a>
                                </li>
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/blog/industry/transportation-and-mobility/">
                                        Transportation and mobility </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/blog/industry/manufacturing/">
                                        Manufacturing </a>
                                </li>
                                <li class="menu-item">
                                    <a class=""
                                        href="https://cloudhawktech.com/blog/industry/smart-home-and-appliances/">
                                        Smart Home and appliances </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/blog/industry/energy-and-resources/">
                                        Energy and resources </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/blog/industry/real-estate/">
                                        Real estate </a>
                                </li>
                                <li class="menu-item">
                                    <a class="" href="https://cloudhawktech.com/blog/">
                                        All articles </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="footer-container-info">
                <div class="footer-container-info-contact-container">
                    <a class="footer-container-info-contact-us" href="/contacts/">
                        Contact us </a>
                    <ul class="footer-container-info-contact-socials-list">
                        <li class="footer-container-info-contact-socials-item">
                            <a class="footer-container-info-contact-socials-item-link" rel="nofollow"
                                href="https://www.linkedin.com/company/Cloud Hawk" target="_blank">
                                <img width="24" height="24" src="images/linkedin-1.svg"
                                    class="footer-container-info-contact-socials-item-link-hover" alt=""
                                    decoding="async" loading="lazy"> <img width="24" height="24"
                                    src="/images/linkedin.svg"
                                    class="footer-container-info-contact-socials-item-link-static" alt=""
                                    decoding="async" loading="lazy"> </a>
                        </li>
                        <li class="footer-container-info-contact-socials-item">
                            <a class="footer-container-info-contact-socials-item-link" rel="nofollow"
                                href="https://github.com/Cloud Hawk" target="_blank">
                                <img width="24" height="24" src="images/github-1.svg"
                                    class="footer-container-info-contact-socials-item-link-hover" alt=""
                                    decoding="async" loading="lazy"> <img width="24" height="24"
                                    src="/images/github.svg"
                                    class="footer-container-info-contact-socials-item-link-static" alt=""
                                    decoding="async" loading="lazy"> </a>
                        </li>
                    
                        <li class="footer-container-info-contact-socials-item">
                            <a class="footer-container-info-contact-socials-item-link" rel="nofollow"
                                href="https://www.youtube.com/channel/UC8noq_LyvQTil6zdZgLKkPw" target="_blank">
                                <img width="24" height="24" src="images/youtube_hover-1.svg"
                                    class="footer-container-info-contact-socials-item-link-hover" alt=""
                                    decoding="async" loading="lazy"> <img width="24" height="24"
                                    src="/images/youtube.svg"
                                    class="footer-container-info-contact-socials-item-link-static" alt=""
                                    decoding="async" loading="lazy"> </a>
                        </li>
                    </ul>
                    
                </div>

                <div class="footer-container-info-copyright-container">
                    <a class="footer-container-info-copyright-logo-link" href="https://cloudhawktech.com/">
                        <img width="206" height="70" src="/images/darklogo.webp"
                            class="attachment-full size-full" alt="" decoding="async" loading="lazy"> </a>
                    <p class="footer-container-info-copyright-text">
                        ©Copyright 2024 Cloud Hawk – Software engineering and IT consulting company. All rights
                        reserved </p>
                    <ul class="footer-container-info-copyright-link-list">
                        <li class="footer-container-info-copyright-link-item">
                            <a class="footer-container-info-copyright-link-item-link"
                                href="https://cloudhawktech.com/cookies-notice/" target="_blank">
                                Cookies notice </a>
                        </li>
                        <li class="footer-container-info-copyright-link-item">
                            <a class="footer-container-info-copyright-link-item-link"
                                href="https://cloudhawktech.com/privacy-notice/" target="_blank">
                                Privacy notice </a>
                        </li>
                        <li class="footer-container-info-copyright-link-item">
                            <a class="footer-container-info-copyright-link-item-link"
                                href="https://cloudhawktech.com/quality-notice/" target="_blank">
                                Quality policy </a>
                        </li>
                        <li class="footer-container-info-copyright-link-item">
                            <a class="footer-container-info-copyright-link-item-link"
                                href="https://cloudhawktech.com/Cloud Hawk-sustainability-policy/" target="_blank">
                                Cloud Hawk Sustainability Policy </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>